.content-master {
<<<<<<< HEAD
	height: 525px;
=======
	height: 500px;
>>>>>>> origin/relaunch2018
	position: relative;

	background-color: @brand-primary;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	.at2x('/../img/teaser.jpg');
}

.content-header {
<<<<<<< HEAD
	position: relative;
	background-color: @brand-primary;
	padding-bottom: 25px;
=======
	h1, h2, h3, h4, h5, h6 {
		color:white;
	}
	position: relative;
	background-color: @brand-primary;
	padding-bottom: 25px;
	margin-bottom:50px;
>>>>>>> origin/relaunch2018
}

.content-header-split {
	min-height: 430px;
	&:extend(.content-header);
	padding-bottom: 0;
}

.content-intro,
.content-intro-50 {

	a {
<<<<<<< HEAD
		color: #fff;
=======
		color: white;
>>>>>>> origin/relaunch2018
		text-decoration: none;
		border-bottom: 1px solid rgba(255,255,255,0.4);

		&:hover, &:focus {
<<<<<<< HEAD
			color: #fff;
=======
			color: #000;
>>>>>>> origin/relaunch2018
			text-decoration: none;
			border-bottom: 0;
		}
	}

	b, strong {
		font-weight: 400;
	}

	> .row {
		font-size: 15px;
		text-align: left;
		padding: 30px 0;

		.col-xs-8 {
			padding-left: 50px;
		}
	}

	.indent {
		display: inline-block;
		width: 70px;
	}

	h2 {
		font-size: @font-size-h1+1;
		padding-left: 21px;
	}
<<<<<<< HEAD
=======
	&.dark {
		h1 {
			color: #03256a;
		}
	}
>>>>>>> origin/relaunch2018

	p {
		color: @link-color-light;
		padding-top: 9px;
<<<<<<< HEAD
		font-size: @content-intro;
=======
		//font-size: @content-intro;
>>>>>>> origin/relaunch2018
	}

	.outro {
		color: @link-color-light;
<<<<<<< HEAD
		font-size: @content-intro-small;
=======
		//font-size: @content-intro-small;
>>>>>>> origin/relaunch2018
	}
}

.content-intro {
	text-align: center;
	color: @link-color-light;

	width:100%;
	@media screen and (min-width:@screen-sm-min) {
		//width: 790px;
	}
	margin: 0 auto;
	padding-top: 48px;
}

.content-intro-50 {
	width: 50%;
	position: relative;
	//float: left;
	text-align: left;
	padding: 36px 82px;
	color: @link-color-light;
}

.intro-image {
	position: absolute;
	//float: right;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	overflow: hidden;

	img {
		//max-width: 100%;
		min-height: 100%;
		margin: auto;
		display: block;
		position: absolute;
	}
}

.main-content {

	@media screen and (min-width:@screen-sm-min) {
		.content-wrap {
<<<<<<< HEAD
			padding: 70px;
		}
	}


=======
			//padding-top: 50px;
			//padding-bottom: 70px;
		}
	}

>>>>>>> origin/relaunch2018
	article .content-wrap {
		padding: 0;
	}

	.content-box {
		//width: 800px;
		width:100%;
		margin: 0 auto;
		padding-top: 5px;

		hr {
			margin-bottom: 40px;
			margin-top: 35px;
		}
<<<<<<< HEAD
=======
		.page-header + img {
			margin-right: 50px;
		}
>>>>>>> origin/relaunch2018

		h2 {
			margin: 0 0 35px 0;
			color: @brand-primary;
			font-size: 27px;
			line-height: 39px;
<<<<<<< HEAD
=======
			&.instrumente {
				display: inline-block;
				padding: 2px 5px;
				color: #fff;
				background-color: @brand-instrumente;
			}
			&.singen {
				display: inline-block;
				padding: 2px 5px;
				color: #fff;
				background-color: @brand-singen;
			}
			&.tanzen {
				display: inline-block;
				padding: 2px 5px;
				color: #fff;
				background-color: @brand-tanzen;
			}
>>>>>>> origin/relaunch2018

			> a {
				color: @brand-primary;
				font-size: 27px;
				line-height: 39px;
			}
		}

		h3 {
			font-size: 22px;
			line-height: 26px;
<<<<<<< HEAD
			font-family: @grotesk;
			font-weight: 100;
			margin-bottom: 30px;
		}
=======
			color: @brand-primary;
			margin-bottom: 30px;
		}
		h4 {
			font-size: 17px;
			line-height: 20px;
			color: @brand-primary;
		}
>>>>>>> origin/relaunch2018

		p {
			font-size: @fliesstext;
			line-height: @base-line-height + 4;

			&.outro {
				font-size: @content-intro-small;
			}
		}
<<<<<<< HEAD
=======
		ul.row {
			padding: 0;
			list-style: none;
			margin-top: 30px;
			margin-bottom: 10px;
			ul {
				margin-top: 30px;
				margin-bottom: 10px;
				padding-left: 15px;
				list-style: disc;
			}
		}
>>>>>>> origin/relaunch2018
	}

	.page-header {
		padding-bottom: 40px;
		margin: 40px 0 20px;
		border-bottom: 0;
		text-align: center;

		h1 {
			color: @brand-primary;
		}

		h3 {
			margin-bottom: 10px;
		}

		a.btn {
			margin-top: 10px;
		}
	}

}