
body.home {

  section.teaser-row {
    .item .text {
<<<<<<< HEAD
      @media screen and (min-width:@screen-md-min) {
=======
      @media screen and (min-width: @screen-md-min) {
>>>>>>> origin/relaunch2018
        margin: 33px;
      }
    }
  }

<<<<<<< HEAD
=======
  section.focus-row {
    margin-bottom:0;
  }

>>>>>>> origin/relaunch2018
}

.master {

<<<<<<< HEAD
  width:100%;
  height:auto;
  min-height:80vh;
  overflow:hidden;
  @media screen and (max-width:@screen-sm-max){
    min-height:initial;
  }
=======
  width: 100%;
  height: auto;
  overflow: hidden;
>>>>>>> origin/relaunch2018

  position: relative;
  zoom: 1;

  > .container {
    z-index: 5;
  }

<<<<<<< HEAD
=======
  .static-header {
    min-height: 80vh;
    @media screen and (min-width: @screen-sm-min) {
      //height: 730px;
      //height:200px;
      min-height: 730px;
    }

  }

>>>>>>> origin/relaunch2018
  .slide.static-slide {
    background-color: @brand-primary;
    background-position: 50% -18px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    .transition(opacity 0.5s linear);

    &.show {
      opacity: 1;
      z-index: 1;
    }

    &.slide-one {
      .at2x('/../img/master-header.jpg');
      z-index: 0;
      // animation: xfade 8s 0s infinite;
    }

    &.slide-two {
      .at2x('/../img/konzert_x1280.jpg');
      z-index: 0;
      // animation: xfade 8s 4s infinite;
    }
  }

  .intro-text {
<<<<<<< HEAD
    width:100%;
    bottom:@grid-gutter-width;
    left:0;
    @media screen and (min-width:@screen-sm-min) {
=======
    width: 100%;
    bottom: @grid-gutter-width;
    left: 0;
    &, h1, h2, h3, h4, h5,h6 {
      color:white;
    }
    @media screen and (min-width: @screen-sm-min) {
>>>>>>> origin/relaunch2018
      padding: 0 57px 99px 57px;
      min-height: 255px;
      //left: 50%;
      //margin-left: 50%;
      bottom: 0;

    }
<<<<<<< HEAD
=======
    @media screen and (max-width: @screen-md-max) {
      bottom: initial;
    }
>>>>>>> origin/relaunch2018
    background: transparent;
    color: #fff;
    position: absolute;

    z-index: 5;

    .justify-content(center);
    .align-items(center);
    .display(flex);

    text-align: center;

    h1 {
      font-size: 75px; // auslagern in variable
      line-height: 75px; // auslagern in variable
      margin: 0;
<<<<<<< HEAD
    }

    h2 {
      font-size: 27px;
      line-height: 27px;
      margin: 0;
=======
      margin-top:@grid-gutter-width;
    }

    h2 {
      font-size: @font-size-h2;
      line-height: @font-size-h2;
      margin: 0 60px;
>>>>>>> origin/relaunch2018
    }
  }
}

@media screen and (min-width: @screen-xs-max) {
  .intro-box {
<<<<<<< HEAD
    padding-left: 7px;
=======
    //padding-left: 7px;
>>>>>>> origin/relaunch2018
  }
}

/**
 * Current News Section
 */

.current-news {
  color: @link-color-light;
  background: @brand-primary;
  // .background-image(linear-gradient(left right, @brand-primary 50%, @brand-light 50%));

  > .container {
    height: 100%;
  }

  .image h3 {
<<<<<<< HEAD
    padding:0 @grid-gutter-width/2;
=======
    padding: 0 @grid-gutter-width/2;
>>>>>>> origin/relaunch2018
  }

  .image h3 {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }

  @media screen and (min-width: @screen-sm-min) {
    //height: 570px;

  }

}

p.current-news {
  color: @link-color-light;
}

.news-text {
  //width: 50%;
  height: 100%;
  position: relative;
  float: left;
<<<<<<< HEAD
  background-color: @brand-light;
  overflow:hidden;
=======
  background-color: @brand-primary;
  overflow: hidden;
>>>>>>> origin/relaunch2018

  .image {
    //height: 100%;
    // overflow: hidden;
    position: absolute;

<<<<<<< HEAD
    left:0;
    right:0;
    top:0;
    bottom:0;
=======
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
>>>>>>> origin/relaunch2018

    display: block;
    //margin-left: -80px;

<<<<<<< HEAD
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    
    
=======
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
>>>>>>> origin/relaunch2018

    img {
      //max-width: 100%;
      max-height: 100%;
      margin: auto;
      vertical-align: middle;
      margin-left: -210px;
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  .news-text {

<<<<<<< HEAD
    min-height:300px;
=======
    min-height: 300px;
>>>>>>> origin/relaunch2018
    margin: 0;
    padding: 0;

    .image {
      height: auto;
      // overflow: hidden;
      margin-left: 0;

      img {
        margin-left: 0;
      }
    }
  }
}

<<<<<<< HEAD


.news-listing {
  &:extend(.news-text);
  padding: @grid-gutter-width @grid-gutter-width/2;
  float: right;
  background-image: none;
  background-color: @brand-primary;
}

.news-text-content {
  padding: 25px 0 0 0px;

}


=======
.news-listing {
  &:extend(.news-text);
  padding: 0px 15px 0px 15px;
  float: right;
  background-image: none;
	color: @brand-primary;
  background-color: #fff;

  .news-content {
    h2 {
      small {
        font-size:@font-size-small;
        display: block;
        font-weight:normal;
      }
    }
  }

}

.news-text-content {
  padding: 0;
	h2 {
		color: #03256a;
	}
}
>>>>>>> origin/relaunch2018

.flex-row {

  display: flex;
<<<<<<< HEAD
  flex-wrap:wrap;

  .news-text,
  .news-listing {
    display:flex;
    float:none;
    height:auto;
  }

  .news-text {
    order:1;
  }

  .news-listing {
    flex-wrap:wrap;

    order:2;
=======
  flex-wrap: wrap;

  .news-text,
  .news-listing {
    display: flex;
    float: none;
    height: auto;
  }

  .news-text {
    order: 1;
  }

  .news-listing {
    flex-wrap: wrap;

    order: 2;
>>>>>>> origin/relaunch2018
  }

  .news-text-content {
  }

}

<<<<<<< HEAD

=======
>>>>>>> origin/relaunch2018
@media screen and (min-width: @screen-sm-min) {

  .news-text-content,
  .news-content {
<<<<<<< HEAD
    padding-left: 80px;
=======
    padding-left: 40px;
		padding-right: 40px;
>>>>>>> origin/relaunch2018
  }
}

.news-content {

  @media screen and (min-width: @screen-sm-min) {
<<<<<<< HEAD
    width: 480px;
  }
  p {
    color: @link-color-light;
=======
    
  }
  p {
    color: @brand-primary;
>>>>>>> origin/relaunch2018
  }

  .news-end {

    @media screen and (max-width: @screen-xs-max) {
      margin-bottom: 20px;
    }

    .btn {
<<<<<<< HEAD
      margin-left: 0;

      &:before {
        display: none;
=======
      //margin-left: 0;

      &:before {
        //display: none;
>>>>>>> origin/relaunch2018
      }
    }
  }

  hr {
<<<<<<< HEAD
    background-color: @brand-green;
    color: @brand-green;
=======
    background-color: @brand-primary;
    color: @brand-primary;
>>>>>>> origin/relaunch2018
    height: 2px;
    border: 0;
    .opacity(1);
  }

  h2 {
<<<<<<< HEAD
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    color: #fff;
=======
    font-size: @font-size-base;
    line-height: 22px;
    margin: 0;
    color: @brand-primary;
>>>>>>> origin/relaunch2018
    font-family: @grotesk;
    font-weight: 400;
  }
}

.read-more:extend(.btn, .btn-dark) {
<<<<<<< HEAD
  color: @brand-green;
  font-size: @footer-text;
  border-bottom-color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: @body-bg;
    &:before {
      background-color: @link-hover-color;
=======
  color: @brand-primary;
  font-size: @font-size-small;
  border-bottom-color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: @brand-primary;
    text-decoration:underline;
    &:before {
      background-color: @brand-primary;
>>>>>>> origin/relaunch2018
    }
  }

  &:before {
    background-size: 15px 15px;
    width: 20px;
    height: 20px;
    top: 0;
<<<<<<< HEAD
=======
		background-color: @brand-primary;
		background-image: url('/../img/arrow-right.svg');
>>>>>>> origin/relaunch2018
  }
}

.read-all:extend(.btn, .btn-dark) {
<<<<<<< HEAD
  color: @link-color-light;

  &:hover {
    color: @brand-green;

    &:before {
      background-color: @brand-light;
=======
  color: @brand-primary;

  &:hover {
    color: @brand-primary;

    &:before {
      background-color: @brand-primary;
>>>>>>> origin/relaunch2018
    }
  }

  &:before {
<<<<<<< HEAD
    background-color: @brand-green;
=======
    background-color: @brand-primary;
>>>>>>> origin/relaunch2018
    top: 0;
  }
}

.image-gallery {
  .image-slider {
    position: relative;
  }

  p.description {
    position: absolute;
    bottom: 0px;
    left: 30px;
    color: white;
    text-shadow: #000 0px 0px 30px;
  }

}

.news-content .content {
  padding-bottom: 45px;
<<<<<<< HEAD
=======

  .btn {
    margin-top:0;
    font-size:@font-size-base;
  }
}

.parents {
  padding: 81px 15px 98px 15px;
  background-image: none;
  background-color: @gray-lighter;
	h2 {
    color: @brand-primary;
  }
}
.teacher {
	padding: 81px 15px 98px 15px;
	h2 {
    color: @brand-primary;
  }
>>>>>>> origin/relaunch2018
}

@keyframes xfade {
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}