<<<<<<< HEAD
/**
 * Login
 */
body #wpmem_reg, body #wpmem_login {
	width: 400px;
	margin: 0 auto 100px auto;

	.div_text, .div_textarea, .div_select, .div_checkbox {
		width: 100%;
	}

	.button_div {
		text-align: left;
		width: 100%;
	}

	input[type="submit"] {
		margin-top: 11px;
		width: 100%;
	}

	legend {
		font-size: 21px;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 20px;
		color: #000;
		font-family: @grotesk;
		font-weight: 400;
	}

	label {
		font-family: @grotesk;
		font-weight: 100;
	}
}

.logged-in {
	.nav-main > ul > li.icon-login.btn-nav {
		background-color: fade(@brand-red, 60%);
		background-image: url(/../img/lock-light.svg);
	}

	.nav-main > ul > li.icon-login.btn-nav:hover {
		background-color: @brand-red;
	}
}

.post-password-form {
	width: 400px;
	margin: 0 auto 100px auto;

	label {
		font-family: @grotesk;
		font-weight: 400;
		width: 100%;

		input {
			width: 100%;
		}
	}

	input[type="submit"] {
		margin-top: 11px;
		width: 100%;
	}
=======
/**
 * Login
 */
body #wpmem_reg, body #wpmem_login {
	width: 400px;
	margin: 0 auto 100px auto;

	.div_text, .div_textarea, .div_select, .div_checkbox {
		width: 100%;
	}

	.button_div {
		text-align: left;
		width: 100%;
	}

	input[type="submit"] {
		margin-top: 11px;
		width: 100%;
	}

	legend {
		font-size: @font-size-large;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 20px;
		color: #000;
		font-family: @grotesk;
		font-weight: 400;
	}

	label {
		font-family: @grotesk;
		font-weight: 100;
	}
}

.logged-in {
	.nav-main > ul > li.icon-login.btn-nav {
		background-color: fade(@brand-red, 60%);
		background-image: url(/../img/lock-light.svg);
	}

	.nav-main > ul > li.icon-login.btn-nav:hover {
		background-color: @brand-red;
	}
}

.post-password-form {
	width: 400px;
	margin: 0 auto 100px auto;

	label {
		font-family: @grotesk;
		font-weight: 400;
		width: 100%;

		input {
			width: 100%;
		}
	}

	input[type="submit"] {
		margin-top: 11px;
		width: 100%;
	}
>>>>>>> origin/relaunch2018
}