<<<<<<< HEAD


.main-content .content-box .musicschool {

	&.open .entry {
		max-height: 9999px;
	}

	.entry {
		h2 {
			margin: 0 0 15px 0;
			color: @text-color;
			font-size: 22px;
			line-height: 30px;
		}
	}

}

.main-content .special {
	padding-bottom: 10px;
	h2.entry-title a{
		color: #b2cb00;
	}
	.entry {
		h2 {
			margin: 0 0 15px 0;
			color: @text-color;
			font-size: 22px;
			line-height: 30px;
		}
	}
=======


.main-content .content-box .musicschool {

	&.open .entry {
		max-height: 9999px;
	}

	.entry {
		h2 {
			margin: 0 0 15px 0;
			color: @text-color;
			font-size: @font-size-large;
			line-height: 30px;
		}
	}

}

.main-content .special {
	padding-bottom: 10px;
	h2.entry-title a{
		color: #b2cb00;
	}
	.entry {
		h2 {
			margin: 0 0 15px 0;
			color: @text-color;
			font-size: @font-size-large;
			line-height: 30px;
		}
	}
>>>>>>> origin/relaunch2018
}