/**
 * Post-Content - Fortbildung
 */

.main-content article.fortbildung {

	h3 {
<<<<<<< HEAD
		font-size: 22px;
=======
		font-size: @font-size-h3;
>>>>>>> origin/relaunch2018
		line-height: 26px;
		color: #000;
		font-family: @grotesk;
		font-weight: 400;
		margin: 0;
	}

	p {
<<<<<<< HEAD
		font-size: 22px;
=======
		font-size: @font-size-base;
>>>>>>> origin/relaunch2018
		line-height: 26px;
		font-weight: 100;
		word-break: break-word;
	}

	ul {
		padding: 0;
		margin: 3px 0 0 0;

		li {
			list-style: none;
<<<<<<< HEAD
			font-size: 15px;
=======
			font-size: @font-size-base;
>>>>>>> origin/relaunch2018
			line-height: 22px;
		}
	}

	.article-row {
<<<<<<< HEAD
		padding: 49px 0;

=======
		padding: @grid-gutter-width;

		&:nth-child(odd) {
			background: #fdfdfd;
		}
>>>>>>> origin/relaunch2018
		&:nth-child(even) {
			background: #f2f2f2;
		}

		.clearfix();

		> div {
			float: left;
			.box-sizing(border-box);
		}

		.description {
			width: 400px;
			padding-right: 80px;
<<<<<<< HEAD
=======
			margin-bottom:0;
>>>>>>> origin/relaunch2018
		}

		.dates {
			width: 240px;
			padding-right: 40px;
		}

		.more {
			width: 160px;

			.button {
				padding: 15px 12px 14px 12px;
				display: block;
				white-space: nowrap;
			}
		}
	}
<<<<<<< HEAD
=======

	@media screen and (max-width:@screen-sm-max) {
		.article-row {
			.more {
				margin-top:@grid-gutter-width/2;
			}
		}
	}


>>>>>>> origin/relaunch2018
}