/**
 * Press Template
 */

.press {

	margin-bottom: 120px;

	.btn-wrapper {
		text-align: center;
	}

	a.button.grey {
		margin-top: 47px;
		background: #999999;
		display: inline-block;

		&.disabled {
			opacity: 0.3;
			pointer-events: none;
	   cursor: default;
		}
	}

	.press-item {
		border-bottom: 1px solid #8b8b8b;
		padding: 28px 0 3px 0;
		position: relative;
		.clearfix();

		time {
			&:extend(h2);
<<<<<<< HEAD
			color: @brand-light;
=======
			color: @brand-primary;
>>>>>>> origin/relaunch2018
			width: 160px;
		}

		time, h2 {
<<<<<<< HEAD
			font-size: 27px;
=======
			font-size: @font-size-h2;
>>>>>>> origin/relaunch2018
			line-height: 39px;
			float: left;
			margin: 0;
		}

		h2 {
			width: 560px;
		}

		.download {
			display: block;
			width: 80px;
			position: absolute;
			right: 0;
			bottom: 6px;

			a {
				width: 45px;
				height: 45px;
<<<<<<< HEAD
				background: @brand-light url('/../img/download.svg') center center no-repeat;
=======
				background: @brand-primary url('/../img/download.svg') center center no-repeat;
>>>>>>> origin/relaunch2018
				background-size: 27px auto;
				.transition(background 0.15s linear);
				.border-radius(5px);
				float: right;

				&:hover {
					background-color: @brand-primary;
				}
			}
		}
	}
<<<<<<< HEAD
=======

	@media screen and (max-width:@screen-sm-max) {
		.press-item {
			h2 {
				width:auto;
				padding-right:@grid-gutter-width*1.5;
			}

			h2, h2 a, time {
				font-size:@font-size-large;
				line-height:1.4;
			}

		}
	}
>>>>>>> origin/relaunch2018
}

.press-images {

	img {
		margin-bottom: 3px;
		width: 420px;
	}

	figure.wp-caption.alignnone {
		margin: 37px 0 0 0;

		.image {
			float: right;
			padding-left: 24px;
			background: #fff;
			position: relative;
		}

		.download {
			&:extend(.press .press-item .download all);
			right: 6px;
			bottom: 10px;
		}

		.wp-caption-text {
			margin-top: 0;
		}
	}

<<<<<<< HEAD
=======
	@media screen and (max-width:@screen-sm-max) {

		figure.wp-caption.alignnone {
			.image {
				padding-left: 0;
			}
		}

		img {
			width:auto;
			max-width:100%;
		}
	}

>>>>>>> origin/relaunch2018
}