
.school-map {
  .clearfix();
  height: 800px;

  @media screen and (max-width: @screen-md-max) {
<<<<<<< HEAD

    height: auto;
=======
    height:50vh;
    //height: auto;
>>>>>>> origin/relaunch2018
  }

  .school-list {
    float: left;
    height: 100%;
    width: 30%;
    padding: 40px 0 0 40px;
    overflow-y: scroll;

    @media screen and (max-width: @screen-md-max) {

      width: 100%;
      padding: @grid-gutter-width;

    }

  }

  .map {
    float: right;
    width: 70%;
    height: 100%;

    #map {
      width: 100%;
      height: 100%;
    }
  }
<<<<<<< HEAD
=======

  &.full-width {
    .school-list {
      display: none;
    }
    .map {
      width:100%;
    }
  }
>>>>>>> origin/relaunch2018
}

.school-list {

  h2 {
<<<<<<< HEAD
    font-size: 24px;
    line-height: 24px;
=======
    //font-size: 24px;
    //line-height: 24px;
>>>>>>> origin/relaunch2018
    margin-bottom: 25px;
    padding-right: 40px;
    color: @brand-primary;
  }

  .school {
    margin-right: 40px;
    border-bottom: 1px solid #8b8b8b;
    padding-bottom: 15px;
    margin-bottom: 15px;

    h3 {
      margin: 0;
      font-weight: 400;
<<<<<<< HEAD
      font-size: 17px;
=======
      font-size: @font-size-base;
>>>>>>> origin/relaunch2018
      line-height: 23px;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}