<<<<<<< HEAD
.search {
	padding-bottom: 20px;
}

.search-header {
	&:extend(.content-header);
}

.search-list {
	padding: 20px 0;

	h3.headline {
		color: @brand-primary;
		border-bottom: 1px @gray solid;
		font-size: 18px;
	}
}

.search-wrap {
	padding: 40px 70px;
}

.search-box {
	width: 800px;
	margin: 0 auto;
}

.entry-summary {
	padding-top: 10px;
}

.search-bar {
	&:extend(.search-header);
	background-color: @brand-green;
	padding-bottom: 70px;

	.search-form {
		width: 100%;
		height: 50px;
		display: inline-block;
	}

	.search-field {
		height: 50px;
		width: 80%;
		border: none;
		color: @gray-dark;
		font-size: 18px;
		padding: 0 20px;
		outline: 0;
	}

	.search-submit {
		top: 0;
		left: 20px;
	}
=======
.search {
	padding-bottom: 20px;
}

.search-header {
	&:extend(.content-header);
}

.search-list {
	padding: 20px 0;

	h3.headline {
		color: @brand-primary;
		border-bottom: 1px @gray solid;
		font-size: @font-size-base;
	}
}

.search-wrap {
	padding: 40px 70px;
}

.search-box {
	width: 800px;
	margin: 0 auto;
}

.entry-summary {
	padding-top: 10px;
}

.search-bar {
	&:extend(.search-header);
	background-color: @brand-green;
	padding-bottom: 70px;

	.search-form {
		width: 100%;
		height: 50px;
		display: inline-block;
	}

	.search-field {
		height: 50px;
		width: 80%;
		border: none;
		color: @gray-dark;
		font-size: @font-size-base;
		padding: 0 20px;
		outline: 0;
	}

	.search-submit {
		top: 0;
		left: 20px;
	}
>>>>>>> origin/relaunch2018
}