.team {

<<<<<<< HEAD


	.team__members {
		padding-bottom: 86px;

		h2, h3  {
			font-size: 27px;
			color: @brand-light;
=======
	.content-wrap {
		padding-bottom: 0;
	}

	.team__members {
		//padding-bottom: 70px;

		&:last-child {

				padding-bottom: 0;
			margin-bottom:@grid-gutter-width*-1;


		}

		h2, h3 {

			color: @brand-primary;
>>>>>>> origin/relaunch2018
			font-family: @typewriter;
		}

		h2 {
<<<<<<< HEAD
			margin: 0 0 23px 0;
		}

		h3  {
=======
			font-size: @font-size-h2;
			margin: 0 0 23px 0;
		}

		h3 {
>>>>>>> origin/relaunch2018
			color: @brand-primary;
			margin-top: 15px;
			margin-bottom: 30px;
		}

	}

	.team__members__col {
<<<<<<< HEAD
		padding-bottom: 55px;
=======
		padding-bottom: 30px;
>>>>>>> origin/relaunch2018
	}

	.team__members--align {
		position: relative;
		min-height: 241px;
		.team__members__information {
			position: absolute;
			bottom: 0;
			left: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	.page-header {
		&:extend(.main-content .page-header);
		h1 {
			color: @brand-primary;
		}
	}

<<<<<<< HEAD
	p {
		font-size: 17px;
	}

	.no-padding {
		padding: 0;
	}
=======
	.no-padding {
		padding: 0;
	}

	@media screen and (max-width: @screen-sm-max) {
		.team__members--align {
			min-height:initial;
		}

		.team__members--align .team__members__information {
			position:relative;
			bottom:initial;
			left:initial;
		}

		.team__members__col {
			img {
				max-width:100%;
			}
		}
	}

>>>>>>> origin/relaunch2018
}