.page-template-template-faq {
  .main-content .content-box {

    h2 {
      text-align: left;
      font-size: 36px;
      margin-bottom: 30px;
    }

    .accordion {

      .entry {

      }
    }

  }
}