@font-face {
	font-family: 'Typewriter';
	src: url('fonts/TypewriterURW-Med.eot');
	src: local('☺'), url('fonts/TypewriterURW-Med.woff') format('woff'), url('fonts/TypewriterURW-Med.ttf') format('truetype'), url('fonts/TypewriterURW-Med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Grotesk';
	src: url('fonts/URWGrotesk-Med.eot');
	src: local('☺'), url('fonts/URWGrotesk-Med.woff') format('woff'), url('fonts/URWGrotesk-Med.ttf') format('truetype'), url('fonts/URWGrotesk-Med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Grotesk';
	src: url('fonts/URWGrotesk-Lig.eot');
	src: local('☺'), url('fonts/URWGrotesk-Lig.woff') format('woff'), url('fonts/URWGrotesk-Lig.ttf') format('truetype'), url('fonts/URWGrotesk-Lig.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}