body {
	font-family: @grotesk;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 100;
}

a {
	color: @link-color;
	// font-size: @main-link-size;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
		color: @link-hover-color;
	}
}

strong {
	font-weight: 400;
}

.alert-danger {
	color: @brand-red;
	font-weight: 400;
<<<<<<< HEAD
	font-size: 16px;
=======
	font-size: @font-size-base;
>>>>>>> origin/relaunch2018
}

hr {
	background-color: @brand-primary-lightened;
	color: @brand-primary;
	height: 1px;
	border: 0;
	.opacity(0.3);
}

<<<<<<< HEAD
h1, h2, h3, h4 {
=======
h1, h2, h3, h4, h5, h6 {
	color: #03256a;
>>>>>>> origin/relaunch2018
	font-family: @typewriter;
	font-weight: 100;
}

h1 {
	line-height: @font-size-h1;
	margin-bottom: 21px;
}

<<<<<<< HEAD
=======


>>>>>>> origin/relaunch2018
h2 {
	font-size: @font-size-h1;
	line-height: 36px;
	margin: 16px 0 20px 0;
<<<<<<< HEAD
}

p {
	font-size: @content-intro-small;
	line-height: 22px;
	color: @text-color;
}

p.description {
=======
	
}
@media screen and (max-width: @screen-sm-max) {

	h1 {
		font-size:@font-size-h2;
	}
	h2 {
		font-size: @font-size-h2;
	}
}
p {
	font-size: @font-size-base;
	//line-height: 22px;
	color: @text-color;
}
.description, .description p {
>>>>>>> origin/relaunch2018
	font-size: @content-intro;
	line-height: 26px;
	margin-bottom: 38px - 4;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga=1, smcp=1";
	-ms-font-feature-settings: "liga" 1, "smcp" 1;

	&.light {
		color: @link-color-light;
	}

	&.dark {
		color: @text-color;
	}

	&.small {
		font-size: @font-base-size - 1;
	}
}

.gallery {
	.image-gallery {
		display: block;
		position: relative;
		overflow: hidden;
		left: 0;
		right: 0;
<<<<<<< HEAD
=======
		margin-bottom:@grid-gutter-width/3*2;
>>>>>>> origin/relaunch2018
	}

	.image-slider {
			float: left;
			border-right: 2px solid #fff;
			padding: 0;

			img {
				padding: 0;
				width: 100%;
			}
		}

	@media screen and (max-width:@screen-xs-max) {
		//display:none;
	}

}



.tooltip {
	.tooltip-inner {
		background: @brand-primary;
		padding: 4px;
		font-size: @tooltip-size;
		line-height: 15px;
		font-weight: normal;
	}

	&.top .tooltip-arrow {
		border-top-color: @brand-primary;
	}
}

.main-content li {
	font-size: @fliesstext;
	line-height: 26px;
}


@media (max-width: 1250px) {
	.content-info, .info-callout, header.banner, .wrap {
<<<<<<< HEAD
		width: 100%;
=======
>>>>>>> origin/relaunch2018
		margin: 0 auto;
	}

	body .master .slide.slide-one {
		background-image: url('/../img/master-header_x1150.jpg');
<<<<<<< HEAD
		background-position: center center !important;
=======
		background-position: center center;
>>>>>>> origin/relaunch2018
	}

	body .master .slide.slide-two {
		background-image: url('/../img/konzert_x1150.jpg');
<<<<<<< HEAD
		background-position: center center !important;
=======
		background-position: center center;
>>>>>>> origin/relaunch2018
	}
}

@media (min-width: 1700px) {
<<<<<<< HEAD
	.content-info, .info-callout, header.banner, .wrap, .gallery {
=======
	.content-info, header.banner, .wrap, .gallery {
>>>>>>> origin/relaunch2018
		width: 1700px;
		margin: 0 auto;
	}

	body .master .slide.slide-one {
		background-image: url('/../img/master-header_x1700.jpg');
	}
}