// Brand colors
// -------------------------

<<<<<<< HEAD
@brand-primary:         	#03256a;
@brand-primary-lightened: #b3bdd2;
@brand-green:           	#aecb06;
@brand-light:           	#00a6eb;
@brand-red: 							rgb(223,53,5);

@gray:                  #eaeaea;
@gray-lighter:          #f1f1f1;
@gray-blue: 						#2c3e50;
@gray-dark:							#747474;
@gray-border: 					@gray;

@green: 								#b1ca00;
@green-light: 					#bad32c;
@green-lighter: 				#d7e583;

@twitter: 							#55acee;
@facebook: 							#3b5998;
=======
@brand-primary: #03256a;
@brand-primary-lightened: #b3bdd2;
@brand-green: #aecb06;
@brand-light: rgb(0, 166, 235);
@brand-red: rgb(223, 53, 5);

@brand-instrumente: @brand-red;
@brand-tanzen: #00a6eb;
@brand-singen: @brand-green;

@gray: #eaeaea;
@gray-lighter: #f1f1f1;
@gray-blue: #2c3e50;
@gray-dark: #747474;
@gray-border: @gray;

@green: #b1ca00;
@green-light: #bad32c;
@green-lighter: #d7e583;

@white: #ffffff;

@twitter: #55acee;
@facebook: #3b5998;
>>>>>>> origin/relaunch2018

//== Scaffolding
//
//## Settings for some of the most global styles.

<<<<<<< HEAD
@body-bg:               #fff;
@body-bg-darker:        @gray-lighter;
@text-color:            #333;
@link-color:            @brand-light;
@link-color-light: 			#fff;
@link-hover-color:      darken(@link-color, 15%);
=======
@body-bg: #fff;
@body-bg-darker: @gray-lighter;
@text-color: #333;
@link-color: @brand-primary;
@link-color-light: #fff;
@link-hover-color: @brand-light;
>>>>>>> origin/relaunch2018

/**
 * Typo
 */
@grotesk: 'Grotesk', helvetica, sans-serif;
@typewriter: 'Typewriter', helvetica, sans-serif;

@font-family-base: @grotesk;

// Glyphicons path
// -------------------------

<<<<<<< HEAD
@icon-font-path:        "../vendor/bootstrap/fonts/";
=======
@icon-font-path: "../vendor/bootstrap/fonts/";
>>>>>>> origin/relaunch2018

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
//
<<<<<<< HEAD
@font-base-size:            16px;

@font-size-h1:              36px;
@font-size-h2:              27px;
@font-size-h3:              24px;
@font-size-h4:              14px;

@content-intro: 						22px;
@content-intro-small: 			15px;
@main-link-size: 						18px;
@footer-text:								15px;
@tooltip-size: 							13px;
@fliesstext: 							17px;
@base-line-height: 					22px;
=======
@font-size-base: 17px;
@font-size-small: 16px;

@font-size-large: 20px;

@font-base-size: @font-size-base;

@font-size-h1: 36px;
@font-size-h2: 27px;
@font-size-h3: 24px;
@font-size-h4: 20px;
@font-size-footer: 15px;

@content-intro: @font-size-large;
@content-intro-small: @font-size-base;
@main-link-size: @font-size-base;
@footer-text: 15px;
@tooltip-size: 13px;
@fliesstext: 17px;
@base-line-height: 22px;
>>>>>>> origin/relaunch2018

// Media queries breakpoints
// --------------------------------------------------

//@screen-xs:                  1px;
//@screen-sm:                  2px;
//@screen-md:                  3px;
//@screen-lg:                  9999px;

<<<<<<< HEAD


=======
>>>>>>> origin/relaunch2018
//== Container sizes
// -------------------------

//@container-tablet:             ((720px + @grid-gutter-width));
// Medium screen / desktop
//@container-desktop:            ((1120px + @grid-gutter-width));
// Large screen / wide desktop
//@container-large-desktop:      ((1120px + @grid-gutter-width));