.workshops-form span.wpcf7-list-item{
 margin:0;
}

.main-content .content-box h3.headline-workshop{
  padding-bottom: 0;
margin-bottom: 2px;
font-weight: normal;

}

.time {
    background-color: #ADCA00;
    max-width: 150px;
    padding: 5px;
    font-size: 18px;
    color: white;
    margin-top:30px;
}

.time.green{
    background-color: #ADCA00;
}

.time.red{
    background-color: #e52e0d;
}

.time.blue
{
    background-color: #009DE2;
}

.workshop h4{
  margin-bottom: 0;
padding-bottom: 0;
margin-top: 20px;
}

.workshops-form input[type="checkbox"] {
    margin: 5px -22px 0;
    margin-right: 0px;

}

.workshop .wpcf7 span.wpcf7-list-item-label {
    padding-left: 25px;
}

.workshop{
  border-bottom: solid black 1px;
   margin-bottom: 15px;

}

.workshops-form .wpcf7-text{
  height:200px;
}

.wpcf7 .wpcf7-form-control-wrap[class*=" checkbox-"] {
    margin-left:22px;

}

span.instrument{
  /*background-image:url(VA_instrument.gif);*/
    /*background-repeat:no-repeat;*/
}

h4 img{
  max-width:15px;
  margin-top: -3px;
}

h4 img:first-child{
  margin-left:20px;
}

.wpcf7 .wpcf7-form-control-wrap.privat-policy{
    display:inline-block;
}

.checkbox-privat-policy{
    margin-top:30px;
}

.contactdetails span.wpcf7-list-item {
    width:100% !important;
}

.contactdetails span.wpcf7-list-item{
    margin:0 !important;
}

.wpcf7 .wpcf7-list-item-label {
    padding-left: 0px;
}

span.wpcf7-list-item {
    margin: 0;
}

.wpcf7 #mc4wp-checkbox {
    margin-left: 0px;
}

div.wpcf7 p{
    clear:both;
}

.wpcf7 span.wpcf7-list-item {
    width: 100%;
}


.mc4wp-success {
    background: #aecb06;
    position: absolute;
    top: -30px;
}

.mc4wp-alert {
    position: absolute;
    top: -30px;

}

@media screen and (min-width: 768px){
    .neighbourhood {
        height:  inherit;
    }
}


.neighbourhood p.data-privacy-text{
    margin-top:20px;
    font-size:12px;
}


.nav-main .nav.navbar-nav>li.menu-das-programm .programm .neighbourhood-search {
    height: 480px;
    padding-top: 23px;
}

.neighbourhood-search-data-privacy{
    color:white;
    font-size:12px;
    margin-top:5px;
}

label.plz-search{
    color:white;
    font-weight:300;
}


.nav-main .nav.navbar-nav>li.menu-das-programm>.programm.show-programm {
    display: block;
}


.newsletter .newsletter-form {
    margin-top: 0;
}


.nav-main .nav.navbar-nav > li.menu-das-programm:focus > .programm {
    display: block;
}
