<div class="row">
    <div class="col-md-6 col-xs-12"><label for="seminar_number">Fortbildungs-Nummer</label> [dynamictext* seminar-number readonly id:seminar_number class:seminar_number "Nr. 20-J-PT"]</div>
    <div class="col-md-6 col-xs-12"><label for="seminar_title">Fortbildungstitel</label> [dynamictext* seminar-title readonly id:seminar_title class:seminar_title "Ohne Noten, fertig, los! – Praxistag zur Improvisation bei JeKits"]</div>
    <div class="col-md-6 col-xs-12"><label for="gender">Anrede (*)</label> [select* gender "Herr" "Frau"]</div>
    <div class="col-md-6 col-xs-12"><label for="titel">Titel</label> [text title id:titel]</div>
    <div class="col-md-6 col-xs-12"><label for="vorname">Vorname (*)</label> [text* firstname id:vorname]</div>
    <div class="col-md-6 col-xs-12"><label for="name">Name (*)</label> [text* lastname id:name]</div>
    <div class="col-md-6 col-xs-12"><label for="strasse">Straße (*)</label> [text* street id:strasse]</div>
    <div class="col-md-6 col-xs-12"><label for="plz">PLZ (*)</label> [text* zip id:plz]</div>
    <div class="col-md-6 col-xs-12"><label for="ort">Ort (*)</label> [text* city id:ort]</div>
    <div class="col-md-6 col-xs-12"><label for="telefon">Telefon</label> [text tel id:telefon]</div>
    <div class="col-md-6 col-xs-12"><label for="mail">E-Mail (*)</label> [email* email id:mail]</div>
    <div class="col-md-6 col-xs-12"><label for="kooperationspartner">Arbeitgeber / Auftraggeber (*)</label> [text* kooperationspartner id:kooperationspartner]</div>
    <div class="col-md-12">
        <h3 class="headline-workshop">Ich melde mich verbindlich für den Praxistag an und wähle folgenden Workshop:</h3>
        <div class="workshops-form">
            <div class="workshop-fields">
                <div class="workshop"><h4 class="headline-radio">Workshop 1 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4> [radio workshop-morgens default:0 "Ein Orchester dirigiert sich selbst"] <p class="workshop-dozent">Dozentin: Angelika Sheridan (Hochschule für Musik und Tanz Köln)</p><h4 class="headline-radio">Workshop 2 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4> [radio workshop-morgens default:0 "Felle, Glocken, Rasseln, Kisten – Improvisation mit Perkussionsinstrumente"] <p class="workshop-dozent">Dozent: Prof. Dr. Heinrich Klingmann (Universität Paderborn)</p><h4 class="headline-radio">Workshop 3<img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4> [radio workshop-morgens default:0 "Das Rucksack-Konzert – Improvisieren mit Alltagsgegenständen"] <p class="workshop-dozent">Dozent: Prof. Dr. Johannes Voit (Universität Bielefeld)</p><h4 class="headline-radio">Workshop 4 <img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4> [radio workshop-morgens default:0 "Improvisation für Bühnentanz mit JeKits-Kindern"] <p class="workshop-dozent">Dozent: Fabrice Jucquois (Musik- und Kunstschule der Stadt Bielefeld)</p><h4 class="headline-radio">Workshop 5 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4> [radio workshop-morgens default:0 "PerFormung – Von der Form zur Performance"] <p class="workshop-dozent">Dozentin: Johanna Nagy (Hochschule für Musik Detmold)</p><h4 class="headline-radio">Workshop 6 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4> [radio workshop-morgens default:0 "Mit Mut aus dem Hut – Improvisation mit Körperklängen und Erfinden von Bodypercussion-Begleitpatterns"] <p class="workshop-dozent">Dozent: Eddi Kleinschnittger (Musikschule des Kreises Paderborn)</p><h4 class="headline-radio">Workshop 7 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>[radio workshop-morgens default:0 "FAIRlinked – Kooperatives Musizieren mit Apps"] <p class="workshop-dozent">Dozent: Dr. Markus Büring (Universität Bielefeld)</p><h4 class="headline-radio">Workshop 8 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4> [radio workshop-morgens default:0 "Raumklänge – Musizieren im und mit dem Raum"] <p class="workshop-dozent">Dozentin: Prof. Dr. Juliane Gerland (FH Bielefeld)</p><h4 class="headline-radio">Workshop 9 <img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule">
                </h4> [radio workshop-morgens default:0 "Geräusche, Töne, Melodien – Die Welt der Stimmimprovisation"] <p class="workshop-dozent">Dozentin: Paula Rohde (Conrad-Hansen-Musikschule der Stadt Lippstadt)</p><br></div>
            </div>
            <div class="spacing--checkbox" style="margin-left:20px;"><span class="checkbox-bold"> [checkbox fortbildungsheft_abo_mail "Bitte senden Sie mir zukünftig den Fortbildungs-Newsletter per E-Mail zu."] </span></div>
            <p>Durch Anklicken der Checkbox erklären Sie sich damit einverstanden, dass wir Ihre E-Mail-Adresse verarbeiten. Diese erfolgt ausschließlich für den Zweck der Zusendung des Fortbildungsnewsletters. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Ohne dieses Einverständnis ist eine Nutzung des Newsletters leider nicht möglich. Wenn Sie den Newsletter abbestellen, enthält dieser eine Abmeldefunktion, jeweils ganz am Ende der E-Mail. Wenn Sie sich dort wieder abmelden, werden Ihre Daten nicht weiter verarbeitet.</p>
            <div class="spacing--checkbox" style="margin-left:20px;"><span class="checkbox-bold"> [checkbox fortbildungsheft_abo_post "Bitte senden Sie mir zukünftig das jährliche Fortbildungsheft per Post zu."] </span></div>
            <p>Wenn Sie das Fortbildungsheft bestellen, senden wir Ihnen das jährlich erscheinende Heft automatisch zu, bis Sie dieses kostenfreie Abonnement wieder abbestellen. Bitte haben Sie Verständnis dafür, dass wir für Ihre Bestellung grundsätzlich die vollständige Adresse inklusive Name brauchen. Durch Anklicken der Checkbox erklären Sie sich damit einverstanden, dass wir die hier eingegebenen Daten zu Ihrer Person verarbeiten. Die Verarbeitung erfolgt ausschließlich für den Zweck der Bestellung des Fortbildungsheftes bzw. der entsprechenden, jährlichen Zusendung. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Ohne dieses Einverständnis ist eine Bestellung des Heftes leider nicht möglich. Wenn Sie das Abonnement abbestellen und der Verarbeitung Ihrer entsprechenden Daten widersprechen möchten, können Sie dies jederzeit unter
                datenschutz@jekits.de mit Wirkung für die Zukunft tun.</p>
            <div class="spacing--checkbox"><h2><strong>Bitte haben Sie Verständnis dafür, dass wir bezüglich der Anmeldungen grundsätzlich in der Lage sein müssen, Sie als Person zu identifizieren.</strong></h2></div>
            <p>Durch Anklicken der Schaltfläche „Senden“ erklären Sie sich damit einverstanden, dass wir die hier eingegebenen Daten zu Ihrer Person verarbeiten. Die Verarbeitung erfolgt ausschließlich für den Zweck der Onlineanmeldung bzw. der Nutzung einer unserer Fortbildungen. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Insbesondere werden Ihre Daten an das durchführende Fortbildungsinstitut weitergegeben. Ohne Ihr Einverständnis ist eine Nutzung der Online-Anmeldung bzw. der Fortbildung leider nicht möglich.</p>
            <p>Wenn Sie der Verarbeitung Ihrer Daten zu einem späteren Zeitpunkt widersprechen möchten, können Sie dies jederzeit unter <a href="mailto:datenschutz@jekits.de">datenschutz@jekits.de</a> mit Wirkung für die Zukunft tun.</p>
            <p>Einzelheiten zum Thema Datenschutz finden Sie auch in unserer <a target="_blank" href="/datenschutz/">Datenschutzerklärung</a>.</p>
            <div class="spacing--checkbox" ><h2 class="mb-0">Bestätigung: (*)</h2>            </div>
            <div style="margin-left:20px;">[checkbox* bestaetigung use_label_element "Hiermit bestätige ich, dass ich volljährig bin, die Anmeldung persönlich ausgefüllt habe und die „Allgemeinen Informationen“ zur Kenntnis genommen habe und akzeptiere."]</div>
            [submit "Senden"]
        </div>
        <p>&nbsp;</p>
    </div>
</div>
