<style>.wpcf7 label {
    color: #333;
}

span.wpcf7-list-item {
    margin: 0;
}</style>
<div class="row">
    <div class="col-md-6">
        <label for="seminar_number">Fortbildungs-Nummer (*)</label>
        [dynamictext* seminar-number id:seminar_number class:seminar_number "CF7_GET key='kurs_id'"]
    </div>
    <div class="col-md-6">
        <label for="seminar_title">Fortbildungstitel (*)</label>
        [dynamictext* seminar-title id:seminar_title class:seminar_title "CF7_GET key='kurs_name'"]
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label for="gender">Anrede (*)</label>
        [select* gender "Herr" "Frau"]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="titel">Titel</label>
        [text title id:titel]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="vorname">Vorname (*)</label>
        [text* firstname id:vorname]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="name">Name (*)</label>
        [text* lastname id:name]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="strasse">Straße (*)</label>
        [text* street id:strasse]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="plz">PLZ (*)</label>
        [text* zip id:plz]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="ort">Ort (*)</label>
        [text* city id:ort]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="mail">E-Mail (*)</label>
        [email* email id:mail]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="telefon">Telefon</label>
        [text tel id:telefon]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="mobil">Mobil</label>
        [text tel id:mobil]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="beruf">Beruf (*)</label>
        [text* tel id:beruf]
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="beruf">Arbeitgeber (*)</label>
        [text* tel id:beruf]
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Hiermit melde ich mich verbindlich zu oben angegebener Fortbildung an. Mir ist bekannt, dass eine Teilnahme als externe/r TeilnehmerIn nur möglich ist, wenn nach Anmeldeschluss noch freie Plätze zur Verfügung stehen. Ein Anspruch auf Teilnahme besteht nicht. Eine Zusage seitens der JeKits-Stiftung für die Teilnahme erfolgt jeweils fallweise und gilt nur für die oben beantragte Fortbildung. Ggf. kann die Stiftung die Zusage widerrufen. Die Teilnahme an der Fortbildung ist für mich
            kostenfrei. Bei mehrtägigen Fortbildungen trage ich anfallende Übernachtungs- und Verpflegungskosten bzw. eventuelle Stornierungskosten selbst. Weitere Informationen sind unter „<a href="/fuer-lehrkraefte/#fortbildungen">Allgemeine Informationen</a>“ zu finden.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Bitte nur bei Anmeldung zu einer mehrtägigen Fortbildung (Kompaktseminar, Intensivseminar, Qualifizierender Lehrgang) ausfüllen:</h2>
        <p><strong>Übernachtung gewünscht:</strong></p>
        [radio uebernachtung default:1 "ja" "nein"]
        <p><strong>Bitte beachten Sie: </strong>Bei mehrtägigen Fortbildungen, die eine Übernachtung der TeilnehmerInnen notwendig machen, organisiert die JeKits-Stiftung Unterkunft und Verpflegung, die bei der Online-Anmeldung verbindlich mitgebucht werden. Eine kostenlose Stornierung ist nur bis zum Datum des Anmeldeschlusses möglich. Bei Abmeldung nach Anmeldeschluss oder Nichterscheinen ohne vorherige Abmeldung behält sich die JeKits-Stiftung vor, sich die ihr entstandenen Kosten von der
            Lehrkraft erstatten zu lassen. Bitte beachten Sie: Diese Kosten können je nach Kurzfristigkeit der Stornierung bis zu 100% der Gesamtkosten für Unterkunft und Verpflegung in der jeweiligen Unterkunft betragen. Weitere Informationen finden Sie unter „<a href="/fuer-lehrkraefte/#fortbildungen">Allgemeine Informationen</a>“.
        </p>
        <h2>Bitte nur bei Anmeldung zu einem Qualifizierenden Lehrgang oder Intensivseminar ausfüllen:</h2>
        <p>
            <strong>Ausbildung:</strong>
            [radio ausbildung default:1 "Ich habe keine abgeschlossene Ausbildung in einem musik-/tanzpädagogischem oder in einem vergleichbaren Fach. (Bitte nehmen Sie in diesem Fall mit der Fachberatung der JeKits-Stiftung Kontakt auf.)" "Ich habe eine abgeschlossene Ausbildung in einem musik-/tanzpädagogischem oder in einem vergleichbaren Fach."]
            Wenn ja, welche:
            [text ausbildung_custom]
        </p>
        <h2>Bitte nur bei Anmeldung zum Praxistag ausfüllen:</h2>
        <p><strong>Bitte nennen Sie die Workshops und Arbeitsgruppen, die Sie im Rahmen des Praxistags besuchen möchten:</strong><br>
            [textarea workshops_praxistag]
        </p>
        <h2>Weitergabe von Kontaktdaten (*)</h2>
        <p>
            Ihre persönlichen Daten, die Sie uns im Rahmen Ihrer Anmeldung mitgeteilt haben, unterliegen dem Datenschutz. Um einen Austausch der FortbildungsteilnehmerInnen im Vorfeld (z. B. zwecks Bildung von Fahrgemeinschaften) zu ermöglichen, werden Name, Wohnort, Telefonnummer und E-Mailadresse der zur gleichen Fortbildung anreisenden TeilnehmerInnen untereinander mitgeteilt.
            [radio weitergabe_kontaktdaten " Ich bin damit einverstanden, dass Name, Telefonnummer, E-Mailadresse und Wohnort von der JeKits-Stiftung bzw. ihren Auftragnehmern an andere FortbildungsteilnehmerInnen weitergegeben werden." "Ich bin nicht damit einverstanden. In diesem Fall können Sie sich nicht mit den anderen FortbildungsteilnehmerInnen austauschen oder Fahrgemeinschaften organisieren."]
        </p>
        <p>
            <strong>[checkbox newsletter_anmelden "Bitte senden Sie mir zukünftig den Fortbildungs-Newsletter per E-Mail zu."]</strong>
            Durch Anklicken der Checkbox erklären Sie sich damit einverstanden, dass wir Ihre E-Mail-Adresse verarbeiten. Dies erfolgt ausschließlich für den Zweck der Zusendung des Fortbildungsnewsletters. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Ohne dieses Einverständnis ist eine Nutzung des Newsletters leider nicht möglich. Wenn Sie den Newsletter
            abbestellen, enthält dieser eine Abmeldefunktion, jeweils ganz am Ende der E-Mail. Wenn Sie sich dort wieder abmelden, werden Ihre Daten nicht weiter verarbeitet.
        </p>
        <p>
            <strong>[checkbox fortbildungsheft_abo "Bitte senden Sie mir zukünftig das jährliche Fortbildungsheft per Post zu."]</strong>
            Wenn Sie das Fortbildungsheft bestellen, senden wir Ihnen das jährlich erscheinende Heft automatisch zu, bis Sie dieses kostenfreie Abonnement wieder abbestellen. Bitte haben Sie Verständnis dafür, dass wir für Ihre Bestellung grundsätzlich die vollständige Adresse inklusive Name brauchen. Durch Anklicken der Checkbox erklären Sie sich damit einverstanden, dass wir die hier eingegebenen Daten zu Ihrer Person verarbeiten. Die Verarbeitung erfolgt ausschließlich für den Zweck der
            Bestellung des Fortbildungsheftes bzw. der entsprechenden, jährlichen Zusendung. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Ohne dieses Einverständnis ist eine Bestellung des Heftes leider nicht möglich. Wenn Sie das Abonnement abbestellen und der Verarbeitung Ihrer entsprechenden Daten widersprechen möchten, können Sie dies jederzeit unter
            datenschutz@jekits.de mit Wirkung für die Zukunft tun.
        </p>
    </div>
    <div class="col-md-12">
        <p><strong>Bitte haben Sie Verständnis dafür, dass wir bezüglich der Anmeldungen grundsätzlich in der
            Lage sein müssen, Sie als Person zu identifizieren.</strong>
        </p>
        <p>
            Durch Anklicken der Schaltfläche „Senden“ erklären Sie sich damit einverstanden, dass wir die hier eingegebenen Daten zu
            Ihrer Person verarbeiten. Die Verarbeitung erfolgt ausschließlich für den Zweck der OnlineAnmeldung
            bzw. der Nutzung einer unserer Fortbildungen. Eine Weitergabe an Dritte findet
            nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig
            ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Insbesondere werden Ihre
            Daten an das durchführende Fortbildungsinstitut weitergegeben. Ohne Ihr Einverständnis ist
            eine Nutzung der Online-Anmeldung bzw. der Fortbildung leider nicht möglich.
        </p>
        <p>
            Wenn Sie der
            Verarbeitung Ihrer Daten zu einem späteren Zeitpunkt widersprechen möchten, können Sie
            dies jederzeit unter <a href="mailto:datenschutz@jekits.de">datenschutz@jekits.de</a> mit Wirkung für die Zukunft tun.
        </p>
        <p>
            Einzelheiten zum Thema Datenschutz finden Sie auch in unserer <a target="_blank" href="/datenschutz/">Datenschutzerklärung</a>.
        </p>
        <p class="checkbox-privat-policy">
            [checkbox* checkbox-518 "Ich bin damit einverstanden"]
        </p>
    </div>
    <div class="col-md-12">
        <h2>Bestätigung (*)</h2>
        [checkbox bestaetigung "Hiermit bestätige ich, dass ich volljährig bin, die Anmeldung persönlich ausgefüllt habe, die oben stehenden Informationen bzw. die „Allgemeinen Informationen“ zur Kenntnis genommen habe und akzeptiere sowie die für Unterkunft und Verpflegung bzw. Stornierung entstehenden Kosten selbst trage."]
        <h2>Bemerkungen</h2>
        [textarea bemerkungen]
        [submit "Senden"]
    </div>
</div>