<style>.wpcf7 label {
    color: #333;
}</style>
<div class="row">
    <div class="col-md-6 col-xs-12"><label for="seminar_number">Fortbildungs-Nummer</label> [dynamictext* seminar-number readonly id:seminar_number class:seminar_number "CF7_GET key='kurs_id'"]</div>
    <div class="col-md-6 col-xs-12"><label for="seminar_title">Fortbildungstitel</label> [dynamictext* seminar-title readonly id:seminar_title class:seminar_title "CF7_GET key='kurs_name'"]</div>
    <div class="col-md-6 col-xs-12"><label for="gender">Anrede (*)</label> [select* gender "Herr" "Frau"]</div>
    <div class="col-md-6 col-xs-12"><label for="titel">Titel</label> [text title id:titel]</div>
    <div class="col-md-6 col-xs-12"><label for="vorname">Vorname (*)</label> [text* firstname id:vorname]</div>
    <div class="col-md-6 col-xs-12"><label for="name">Name (*)</label> [text* lastname id:name]</div>
    <div class="col-md-6 col-xs-12"><label for="strasse">Straße (*)</label> [text* street id:strasse]</div>
    <div class="col-md-6 col-xs-12"><label for="plz">PLZ (*)</label> [text* zip id:plz]</div>
    <div class="col-md-6 col-xs-12"><label for="ort">Ort (*)</label> [text* city id:ort]</div>
    <div class="col-md-6 col-xs-12"><label for="telefon">Telefon</label> [text tel id:telefon]</div>
    <div class="col-md-6 col-xs-12"><label for="mail">E-Mail (*)</label> [email* email id:mail]</div>
    <div class="col-md-6 col-xs-12"><label for="kooperationspartner">Arbeitgeber / Auftraggeber (*)</label> [text* kooperationspartner id:kooperationspartner]</div>
</div>
<div class="row">
    <div class="col-md-12"><label>Übernachtung gewünscht: (*)</label>
        [radio uebernachtung default:1 "Ja" "Nein"]
        <strong>Bitte beachten Sie:</strong>

        <hr style="opacity:0; margin:0;">
        Bei mehrtägigen Fortbildungen, die eine Übernachtung der TeilnehmerInnen notwendig machen, organisiert die JeKits-Stiftung Unterkunft und Verpflegung, die bei der Online-Anmeldung verbindlich mitgebucht werden. Eine kostenlose Stornierung ist nur bis zum Datum des Anmeldeschlusses möglich. Bei Abmeldung nach Anmeldeschluss oder Nichterscheinen ohne rechtzeitige Abmeldung behält sich die JeKits-Stiftung vor, sich die ihr entstandenen Kosten von der Lehrkraft erstatten zu lassen. Bitte
        beachten Sie: Diese Kosten können je nach Kurzfristigkeit der Stornierung bis zu 100% der Gesamtkosten für Unterkunft und Verpflegung in der jeweiligen Unterkunft betragen. Weitere Informationen finden Sie unter <a href="/fuer-lehrkraefte/#intro" target="_blank">Allgemeine Informationen</a>.
    </div>
    <div class="col-md-12"><label> Ich unterrichte im Rahmen des JeKits-Programms: </label> [checkbox* unterricht use_label_element "JeKits 1 im Schwerpunkt Instrumente" "JeKits 1 im Schwerpunkt Tanzen" "JeKits 1 im Schwerpunkt Singen" "JeKits-Instrumentalunterricht" "JeKits-Orchester" "JeKits-Tanzensemble" "JeKits-Chor" "JeKits-Instrumentalunterricht in den Fächern:" ] [text instrumente]</div>
    <div class="col-xs-12"><strong>Ich wähle folgende Workshops:</strong><br>
        <p>(Bitte wählen Sie zwei Workshops für den 4. Mai 2020 und zwei weitere Workshops für den 30. September 2020 aus.)</p></div>
    <div class="col-xs-12"><h4 style="margin-top:20px">Workshops am 4. Mai 2020</h4> <label style="padding-top: 0px;"> Ich melde mich für folgende Workshops an: (Bitte wählen Sie drei von fünf Workshops aus.) </label> [checkbox* workshops use_label_element "Workshop 1.1: Hinter dem Tellerrand – Versuche zu einer unbekannten Musik(Dozent: Achim Tang)" "Workshop 1.2: „Konzertkonzepte für JeKits“ – Blickwinkel auf und Gelingensbedingungen für JeKits-Konzerte(Dozent: Martin Theile)" "Workshop 1.3:
        Umgang mit Antriebsparametern: Raum – Zeit – Kraft – Fluss(Dozent: Max Joureau)" "Workshop 1.4: Rock und Pop von Anfang an (Dozentin: Andrea von Grafenstein)" "Workshop 1.5: Hören lernen – Musikvermittlung über den Tanz(Dozentin: Petra Jebavy)" "Workshop 1.6: Musik + Wort: ein Musikspiel entsteht (Dozentinnen: Maike Röhr, Juliane Thöne)" ]
    </div>
    <div class="col-xs-12" style="margin-top: 7px;"><h4>Workshops am 30. September 2020</h4> [checkbox* workshops use_label_element "Workshop 2.1: Taschenopern, Popsongs und Kanonen – JeKits findet musikalische Formen(Dozent: Achim Tang)" "Workshop 2.2: Bodypercussion für JeKits-Lehrkräfte (Dozent: Michael Biewald)" "Workshop 2.3: Bewegung und Ruhe (Dozent: Max Joureau)" "Workshop 2.4: Lieder und Ohrwürmer für gelungene Auftritte (Dozentin: Andrea von Grafenstein)" "Workshop 2.5: Von der
        Improvisation zur Gestaltung (Dozentinnen: Petra Jebavy, Stefanie Josefine Katzer)" "Workshop 2.6: Bild + Wort: ein Musikstück entsteht (Dozentinnen: Maike Röhr, Juliane Thöne)" ]
    </div>
    <div class="col-md-12"><h2>Weitergabe von Kontaktdaten: (*)</h2>
        <p> Ihre persönlichen Daten, die Sie uns im Rahmen Ihrer Anmeldung mitgeteilt haben, unterliegen dem Datenschutz. Um einen Austausch der FortbildungsteilnehmerInnen im Vorfeld (z. B. zwecks Bildung von Fahrgemeinschaften) zu ermöglichen, werden Name, Wohnort, Telefonnummer und E-Mailadresse der zur gleichen Fortbildung anreisenden TeilnehmerInnen untereinander mitgeteilt. [radio weitergabe_kontaktdaten "Ich bin damit einverstanden, dass Name, Telefonnummer, E-Mailadresse und Wohnort von
            der JeKits-Stiftung bzw. ihren Auftragnehmern an andere FortbildungsteilnehmerInnen weitergegeben werden." "Ich bin nicht damit einverstanden. In diesem Fall können Sie sich nicht mit den anderen FortbildungsteilnehmerInnen austauschen oder Fahrgemeinschaften organisieren."] </p>
        <div class="spacing--checkbox"><span class="custom-checkbox"> <strong>[mc4wp_checkbox "Bitte senden Sie mir zukünftig den Fortbildungs-Newsletter per E-Mail zu."]</strong> </span></div>
        <p>Durch Anklicken der Checkbox erklären Sie sich damit einverstanden, dass wir Ihre E-Mail-Adresse verarbeiten. Dies erfolgt ausschließlich für den Zweck der Zusendung des Fortbildungsnewsletters. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Ohne dieses Einverständnis ist eine Nutzung des Newsletters leider nicht möglich. Wenn Sie den Newsletter
            abbestellen, enthält dieser eine Abmeldefunktion, jeweils ganz am Ende der E-Mail. Wenn Sie sich dort wieder abmelden, werden Ihre Daten nicht weiter verarbeitet.</p>
        <div class="spacing--checkbox"><strong>[checkbox fortbildungsheft_abo use_label_element "Bitte senden Sie mir zukünftig das jährliche Fortbildungsheft per Post zu." ]</strong></div>
        <p>Wenn Sie das Fortbildungsheft bestellen, senden wir Ihnen das jährlich erscheinende Heft automatisch zu, bis Sie dieses kostenfreie Abonnement wieder abbestellen. Bitte haben Sie Verständnis dafür, dass wir für Ihre Bestellung grundsätzlich die vollständige Adresse inklusive Name brauchen. Durch Anklicken der Checkbox erklären Sie sich damit einverstanden, dass wir die hier eingegebenen Daten zu Ihrer Person verarbeiten. Die Verarbeitung erfolgt ausschließlich für den Zweck der
            Bestellung des Fortbildungsheftes bzw. der entsprechenden, jährlichen Zusendung. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Ohne dieses Einverständnis ist eine Bestellung des Heftes leider nicht möglich. Wenn Sie das Abonnement abbestellen und der Verarbeitung Ihrer entsprechenden Daten widersprechen möchten, können Sie dies jederzeit unter <a
                    href="mailto:datenschutz@jekits.de">datenschutz@jekits.de</a> mit Wirkung für die Zukunft tun.</p></div>
    <div class="col-md-12">
        <div class="spacing--checkbox"><h2><strong>Bitte haben Sie Verständnis dafür, dass wir bezüglich der Anmeldungen grundsätzlich in der Lage sein müssen, Sie als Person zu identifizieren.</strong></h2></div>
        <p>Durch Anklicken der Schaltfläche „Senden“ erklären Sie sich damit einverstanden, dass wir die hier eingegebenen Daten zu Ihrer Person verarbeiten. Die Verarbeitung erfolgt ausschließlich für den Zweck der Onlineanmeldung bzw. der Nutzung einer unserer Fortbildungen. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Insbesondere werden Ihre Daten an das
            durchführende Fortbildungsinstitut weitergegeben. Ohne Ihr Einverständnis ist eine Nutzung der Online-Anmeldung bzw. der Fortbildung leider nicht möglich.</p>
        <p>Wenn Sie der Verarbeitung Ihrer Daten zu einem späteren Zeitpunkt widersprechen möchten, können Sie dies jederzeit unter <a href="mailto:datenschutz@jekits.de">datenschutz@jekits.de</a> mit Wirkung für die Zukunft tun.</p>
        <p>Einzelheiten zum Thema Datenschutz finden Sie auch in unserer <a target="_blank" href="/datenschutz/">Datenschutzerklärung</a>.</p></div>
    <div class="col-md-12">
        <div class="spacing--checkbox"><strong>Bestätigung: (*)</strong> [checkbox* bestaetigung use_label_element "Hiermit bestätige ich, dass ich volljährig bin, die Anmeldung persönlich ausgefüllt habe und die „Allgemeinen Informationen“ zur Kenntnis genommen habe und akzeptiere." ]</div>
    </div>
    <div class="col-md-12"><label class="pt-0" for="bemerkung">Bemerkungen</label> [textarea bemerkung]</div>
    <div class="col-md-12"> [submit "Senden"]</div>
</div>