<label> Fortbildungs-Nummer
    [text* fortbildungs-nummer readonly "Nr. 19-J-PT"]
</label>
<label> Fortbildungstitel
    [text* fortbildungstitel readonly "Bleibende Eindrücke hinterlassen – Praxistag zur Gestaltung von nachhaltigem JeKits-Unterricht"]
</label>
<label> Anrede (*)
    [text* anrede] </label>
<label> Titel
    [text titel] </label>
<label> Vorname (*)
    [text* vorname] </label>
<label> Nachname(*)
    [text* nachname] </label>
<label> Straße (*)
    [text* strasse] </label>
<label> PLZ (*)
    [text* postleitzahl] </label>
<label> Ort (*)
    [text* wohnort] </label>
<label> Ihre E-Mail (*)
    [email* your-email] </label>
<label> Telefon
    [text telefon] </label>
<label> Außerschulischer Kooperationspartner <br style="display:inline-block">oder Grund- bzw. Förderschule (*)
    [text partner] </label>
<h3 class="headline-workshop">Ich melde mich verbindlich für den Praxistag an und wähle folgende Workshops:</h3>
<p>(Bitte wählen Sie jeweils einen Workshop bzw. eine Arbeitsgruppe pro Zeitschiene.)</p>
<p>&nbsp;</p>
<div class="workshops-form">
    <div class="workshop-fields">
        <div class="time red">
            10:30 - 12:15 Uhr
        </div>
        <div class="workshop">
            <h4 class="headline-radio">Workshop 1 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default: "Lernziele im JeKits 1-Unterricht im Schwerpunkt Instrumente – Perspektiven für den Instrumentalunterricht"]
            <p>Barbara Habig (Folkwang Musikschule Essen)</p>
            <h4 class="headline-radio">Workshop 2 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "Mit Methode zum Erfolg – Kooperatives Lernen im JeKits-Unterricht"]
            <p>Miriam Meisterernst (Technische Universität Dortmund)</p>
            <h4 class="headline-radio">Workshop 3 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "Körpersprache und Präsenz in Auftrittssituationen"]
            <p>Frank Rohde (Bühnen Köln)</p>
            <h4 class="headline-radio">Workshop 4 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "JeKits-Orchester im Groove"]
            <p>Prof. Dorothea Baier (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Workshop 5 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "'Konzertkonzepte für JeKits' – Blickwinkel auf und Gelingensbedingungen für JeKits-Konzerte"]
            <p>Martin Theile (JeKits-Stiftung), Verena Volkmer (Musikschule im FoKuS Selm)</p>
            <h4 class="headline-radio">Workshop 6 <img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "Mit allen Sinnen"]
            <p>Henrietta Horn (Folkwang Universität der Künste) </p>
            <h4 class="headline-radio">Workshop 7 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "'Ein Lied kleidet sich um' – Prozessorientiertes Arrangieren, Instrumentieren und Improvisieren"]
            <p>Torsten Schüring (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Workshop 8 <img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "'Werft die Arme in die Luft' – Impulse für ein erfolgreiches Singen mit Kindern"]
            <p>Veit Jürgen Zimmermann (Folkwang Universität der Künste) </p>
            <h4 class="headline-radio">Workshop 9 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "'Ein Konzert dauert Monate, damit die Gelingensbedingungen Raum haben' – JeKits-Konzerte planen und gestalten"]
            <p>Matthias Rietschel (Übehaus Kray)</p>
            <h4 class="headline-radio">Workshop 10 (nur vormittags) <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-morgens default:0 "Hören, Wahrnehmen, Gestalten – Experimentelle Klanggestaltung in der Schule"]
            <p>Burkhard Friedrich (KLANGRADAR BERLIN)</p>
        </div>
        <div class="time green">
            14:15 - 15:15 Uhr
        </div>
        <div class="workshop">
            <h4 class="headline-radio">Moderierte Arbeitsgruppe 1 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente">title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-mittags default:0 "Einblicke in die Praxis: JeKits-Orchester der der EGS Theodor-Heuss-Schule der Stadt Essen"]
            <p>Leitung: Peter Johnen (Folkwang Musikschule Essen)<br>
                Moderation: Prof. Dorothea Baier (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Moderierte Arbeitsgruppe 2 <img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-mittags default:0 "Einblicke in die Praxis: JeKits-Tanzensemble der Städt. Gemeinschaftsgrundschule Birth der Stadt Velbert"]
            <p>Leitung: Denise Derkum (Musik- und Kunstschule Velbert)<br>
                Moderation: Henrietta Horn (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Moderierte Arbeitsgruppe 3 <img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-mittags default:0 "Einblicke in die Praxis: JeKits-Chor der KGS Münsterschule der Stadt Essen"]
            <p>Leitung: Kelley Sundin, Marie-Annett Casperon (Folkwang Musikschule Essen)<br>
                Moderation: Prof. Werner Rizzi (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Moderierte Arbeitsgruppe 4 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-mittags default:0 "Einblicke in die Praxis: Musikvermittlung und Konzepterstellung"]
            <p>Konzept: Julia Seitz (netzwerk junge ohren)<br>
                Moderation: Prof. Lydia Grün (netzwerk junge ohren)</p>
        </div>
        <div class="time blue">
            <nobr>15:15 - 16:45 Uhr</nobr>
        </div>
        <div class="workshop">
            <h4 class="headline-radio">Workshop 11 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "Lernziele im JeKits 1-Unterricht im Schwerpunkt Instrumente – Perspektiven für den Instrumentalunterricht"]
            <p>Barbara Habig (Folkwang Musikschule Essen)</p>
            <h4 class="headline-radio">Workshop 12 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "Mit Methode zum Erfolg – Kooperatives Lernen im JeKits-Unterricht"]
            <p>Miriam Meisterernst (Technische Universität Dortmund)</p>
            <h4 class="headline-radio">Workshop 13 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "Körpersprache und Präsenz in Auftrittssituationen"]
            <p>Frank Rohde (Bühnen Köln)</p>
            <h4 class="headline-radio">Workshop 14 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "JeKits-Orchester im Groove"]
            <p>Prof. Dorothea Baier (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Workshop 15 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "'Konzertkonzepte für JeKits' – Blickwinkel auf und Gelingensbedingungen für JeKits-Konzerte"]
            <p>Martin Theile (JeKits-Stiftung), Verena Volkmer (Musikschule im FoKuS Selm)</p>
            <h4 class="headline-radio">Workshop 16 <img src="/app/themes/jekits/assets/css/VA_tanzen.gif" alt="Tanzen" title="Tanzen"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "Mit allen Sinnen"]
            <p>enrietta Horn (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Workshop 17 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "'Ein Lied kleidet sich um' – Prozessorientiertes Arrangieren, Instrumentieren und Improvisieren"]
            <p>Torsten Schüring (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Workshop 18 <img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "'Werft die Arme in die Luft' – Impulse für ein erfolgreiches Singen mit Kindern"]
            <p>Veit Jürgen Zimmermann (Folkwang Universität der Künste)</p>
            <h4 class="headline-radio">Workshop 19 <img src="/app/themes/jekits/assets/css/VA_instrument.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_singen.gif" alt="Instrumente" title="Instrumente"><img src="/app/themes/jekits/assets/css/VA_schule.gif" alt="Grund- und Förderschule" title="Grund- und Förderschule"></h4>
            [radio workshop-nachmittags default:0 "'Ein Konzert dauert Monate, damit die Gelingensbedingungen Raum haben' – JeKits-Konzerte planen und gestalten"]
            <p>Matthias Rietschel (Übehaus Kray)</p>
        </div>
        <div class="contact">
            <h4 class="headline-radio">Kontaktdaten</h4>
            Ihre persönlichen Kontaktdaten, die Sie uns im Rahmen Ihrer Anmeldung mitgeteilt haben, unterliegen dem Bundesdatenschutzgesetz. Um einen Austausch der FortbildungsteilnehmerInnen im Vorfeld (z. B. zwecks Bildung von Fahrgemeinschaften) zu ermöglichen, werden Name, Wohnort, Telefonnummer und E-Mailadresse der zur gleichen Fortbildung anreisenden Teilnehmenden untereinander mitgeteilt.
        </div>
    </div>
    <div class="workshop">
        [checkbox checkbox-2 "Ich bin damit einverstanden, dass Name, Telefonnummer, E-Mailadresse und Wohnort von der JeKits-Stiftung bzw. ihren Auftragnehmern an andere FortbildungsteilnehmerInnen weitergegeben werden."]
        [checkbox checkbox-3 "Ich bin nicht damit einverstanden."]
    </div>
    <h4 class="headline-radio">Bemerkungen:</h4>
    [textarea bemerkungen]
    [checkbox checkbox-4 "Bitte senden Sie mir zukünftig den Fortbildungs-Newsletter per E-Mail zu."]
    <p>Durch Anklicken der Checkbox erklären Sie sich damit einverstanden, dass wir Ihre E-Mail-Adresse verarbeiten. Diese erfolgt ausschließlich für den Zweck der Zusendung des Fortbildungsnewsletters. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Ohne dieses Einverständnis ist eine Nutzung des Newsletters leider nicht möglich. Wenn Sie den Newsletter abbestellen, enthält dieser eine Abmeldefunktion, jeweils ganz am Ende der E-Mail. Wenn Sie sich dort wieder abmelden, werden Ihre Daten nicht weiter verarbeitet.</p>

    [checkbox checkbox-5 "Bitte senden Sie mir zukünftig das jährliche Fortbildungsheft per Post zu."]
    <p>Wenn Sie das Fortbildungsheft bestellen, senden wir Ihnen das jährlich erscheinende Heft automatisch zu, bis Sie dieses kostenfreie Abonnement wieder abbestellen. Bitte haben Sie Verständnis dafür, dass wir für Ihre Bestellung grundsätzlich die vollständige Adresse inklusive Name brauchen. Durch Anklicken der Checkbox erklären Sie sich damit einverstanden, dass wir die hier eingegebenen Daten zu Ihrer Person verarbeiten. Die Verarbeitung erfolgt ausschließlich für den Zweck der Bestellung des Fortbildungsheftes bzw. der entsprechenden, jährlichen Zusendung. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Ohne dieses Einverständnis ist eine Bestellung des Heftes leider nicht möglich. Wenn Sie das Abonnement abbestellen und der Verarbeitung Ihrer entsprechenden Daten widersprechen möchten, können Sie dies jederzeit unter datenschutz@jekits.de mit Wirkung für die Zukunft tun.</p>
</div>
<div class="col-md-12">
    <h2><strong>Bitte haben Sie Verständnis dafür, dass wir bezüglich der Anmeldungen grundsätzlich in der Lage sein müssen, Sie als Person zu identifizieren.</strong>
    </h2>
    <p>Durch Anklicken der Schaltfläche „Senden“ erklären Sie sich damit einverstanden, dass wir die hier eingegebenen Daten zu Ihrer Person verarbeiten. Die Verarbeitung erfolgt ausschließlich für den Zweck der Onlineanmeldung bzw. der Nutzung einer unserer Fortbildungen. Eine Weitergabe an Dritte findet nur statt, soweit dies aus technischen bzw. organisatorischen Gründen zwingend notwendig ist oder wir aus rechtlichen Gründen hierzu verpflichtet sind. Insbesondere werden Ihre Daten an das durchführende Fortbildungsinstitut weitergegeben. Ohne Ihr Einverständnis ist eine Nutzung der Online-Anmeldung bzw. der Fortbildung leider nicht möglich.</p>
    <p>Wenn Sie der Verarbeitung Ihrer Daten zu einem späteren Zeitpunkt widersprechen möchten, können Sie dies jederzeit unter <a href="mailto:datenschutz@jekits.de">datenschutz@jekits.de</a> mit Wirkung für die Zukunft tun.</p>
    <p>Einzelheiten zum Thema Datenschutz finden Sie auch in unserer <a target="_blank" href="/datenschutz/">Datenschutzerklärung</a>.</p>
</div>
<div class="col-md-12">
    <h2>Bestätigung: (*)</h2>
    [checkbox* post use_label_element "Hiermit bestätige ich, dass ich volljährig bin, die Anmeldung persönlich ausgefüllt habe und die „Allgemeinen Informationen“ zur Kenntnis genommen habe und akzeptiere." ]
</div>
[submit "Senden"]