
<div class="row">
	<div class="col-md-6">
		<label for="seminar_number">Seminar-Nummer</label>
		[dynamictext* seminar-number id:seminar_number class:seminar_number "CF7_GET key='kurs_id'"]
	</div>
	<div class="col-md-6">
		<label for="seminar_title">Seminartitel</label>
		[dynamictext* seminar-title id:seminar_title class:seminar_title "CF7_GET key='kurs_name'"]
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<label for="gender">Anrede (*)</label>
		[select* gender "Herr" "Frau"]
		<label for="vorname">Vorname (*)</label>
		[text* firstname id:vorname]
		<label for="strasse">Straße (*)</label>
		[text* street id:strasse]
		<label for="schule">Musik-/Grundschule (*)</label>
		[text* school id:schule]
		<label for="mail">E-Mail (*)</label>
		[email* email id:mail]
	</div>
	<div class="col-md-6">
		<label for="titel">Titel</label>
		[text title id:titel]
		<label for="name">Name (*)</label>
		[text* lastname id:name]
		<div class="plz-wrap">
			<label for="plz">PLZ (*)</label>
			[text* zip id:plz]
		</div>
		<div class="ort-wrap clearfix">
			<label for="ort">Ort (*)</label>
			[text* city id:ort]
		</div>

		<label for="instrument">Instrument</label>
		[text instrument id:instrument]
		<label for="telefon">Telefon</label>
		[text tel id:telefon]
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<label>Ich unterrichte</label>
		[checkbox* unterricht use_label_element "Jeki 1" "Jeki-Instrumentalunterricht" "Ensemble Kunterbunt" ]
		<label for="bemerkung">Bemerkung</label>
		[textarea bemerkung]
		[mc4wp_checkbox "Bitte senden Sie mir zukünftig den Fortbildungs-Newsletter per E-Mail zu."]
		[checkbox post use_label_element "Bitte senden Sie mir zukünftig das jährliche Fortbildungsheft per Post zu." ]
		[submit "Senden"]
	</div>
</div>


