<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<label for="Vorname">Vorname (*)</label>
		[text* vorname id:vorname]
		<label for="Name">Name (*)</label>
		[text* name id:name]
		<label for="Strasse">Straße (*)</label>
		[text* street id:strasse]
		<label for="plz">PLZ (*)</label>
		[number* plz id:plz]
		<label for="ort">Ort (*)</label>
			[text* city id:ort]
		<label for="Name">E-Mail (*)</label>
		[email* email id:email]
	</div>
</div>