<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<label for="Name">Name (*)</label>
		[text* name id:name]
		<label for="EMail">E-Mail (*)</label>
		[email* email id:email]
		<label for="Betreff">Betreff (*)</label>
		[text* betreff id:betreff]
		<label for="Nachricht">Nachricht (*)</label>
		[textarea* nachricht id:nachricht]
	</div>
</div>