body.page-template-template-blog {
  //background-color:rgba(0,0,0,.025);

  .blog-posts {
    display: flex;
    flex-wrap:wrap;
    
    img {
      max-width: 100%;
      min-width: 100%;
      height: auto;
      margin-bottom: 15px;
    }

    .blog-post-item {
      display: flex;

      & > .inner {
        background:white;
        width:100%;
        box-shadow:0px 0px 50px 50px rgba(0,0,0,.025);
      }

      margin-bottom: 30px;

      .blog-image {
        overflow: hidden;
        display: flex;
        a {
          min-height:350px;
          background-size: cover;
          //min-height: 300px;
          width:100%;
        }

      }

      .blog-text {

        .meta.date {
          margin-bottom:0;
        }

        h2 {
          margin-top:8px;
          font-size:26px;
          line-height:26px;
        }
        .inner {
          padding:15px;
          padding-left:0;
        }
      }
    }
  }

}