footer.content-info {
  font-size: @footer-text;
  padding: 0 0 75px 0;
  color: #000;
  line-height: @base-line-height;
<<<<<<< HEAD
=======
  &, & * {
    font-size:@font-size-footer;
  }
>>>>>>> origin/relaunch2018

  .col-md-2 {
    //@media (min-width: @screen-sm-min) {
    //  width: 17.666667%;
    //}
  }

  .col-md-4 {
    //@media (min-width: @screen-sm-min) {
    //  width: 29.333333%;
    //}
  }

  h3 {
<<<<<<< HEAD
    color: @brand-light;
    font-size: 15px;
=======
    color: @brand-primary;
    //font-size: 15px;
>>>>>>> origin/relaunch2018
    line-height: 19px;
    line-height: @base-line-height;
    margin: 0 0 22px 0;
  }

  hr {
<<<<<<< HEAD
    margin: 68px 0 47px 0;
=======
    margin: 30px 0 47px 0;
>>>>>>> origin/relaunch2018
  }

  .brand-logo {
    margin: 0;
    img {

      max-width: 100%;
      height: auto;
    }

  }

  .contact {
    @media screen and (min-width: @screen-sm-min) {

    }
    h3 {
<<<<<<< HEAD
      color: @brand-red;
=======
      color: @brand-primary;
>>>>>>> origin/relaunch2018
    }
  }

  ul {
    padding: 0;
  }

  ul > li {
    text-decoration: none;
    padding: 0 0 5px;
    display: block;
    position: relative;

    > a {
      color: #000;
      font-size: @footer-text;
      text-decoration: none;
      border-bottom: none;
      line-height: @base-line-height;

      &:hover,
      &:focus {
        color: @link-color;
      }
    }
  }

  .dropdown-menu, .menu {
    padding: 4px 5px 0 0;
  }

  .dropdown-toggle {
<<<<<<< HEAD
    color: @brand-light;
=======
    color: @brand-primary;
>>>>>>> origin/relaunch2018
    font-family: @typewriter;
    line-height: 15px;
    padding-top: 10px;
  }
}

ul.social-icons {
  position: relative;

  &.fix {
  }

  li {
    margin: 10px 0;
  }

  li a {
    padding-left: 35px;

    &:before {
      content: "";
      position: absolute;
      background-position: 70% center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: 29px 29px;

      width: 29px;
      height: 29px;
      display: inline-block;

      left: 0;
      top: -5px;
    }

  }

  li.facebook a {
    color: @facebook;

    &:before {
      background-image: url('/../img/facebook.svg');
    }
  }

  li.twitter a {
    color: @twitter;

    &:before {
      background-image: url('/../img/twitter.svg');
    }
  }
<<<<<<< HEAD
=======

  li.instagram a {
    color: @facebook;

    &:before {
      background-image: url('/../img/instagram.svg');
    }
  }
>>>>>>> origin/relaunch2018
}