@jekits-nav-height: 70px;
.banner {
  //height: @jekits-nav-height;

  .navbar {
    margin-bottom: 0px;
    border: 0px solid transparent;
    z-index: 1000;
  }

  .navbar-toggle {
    margin-bottom: @grid-gutter-width/2;
    margin-top: @grid-gutter-width/2;
<<<<<<< HEAD
    z-index:1000;
=======
    z-index: 1;
>>>>>>> origin/relaunch2018
  }

  .navbar-default {
    background: white;
    .navbar-collapse, .navbar-form {
      border: none;
    }

    .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      background-color: transparent;
    }

  }

  .navbar-header {
    position: relative;
<<<<<<< HEAD
    width:100%;
=======

    width: 100%;

>>>>>>> origin/relaunch2018
  }

  .navbar-brand {
    width: 266px;
    height: 149px;

    padding: 0 36px;
    display: inline-block;
    background-color: #fff;
    text-decoration: none;

    position: absolute;
    z-index: 10;

    &:hover {
<<<<<<< HEAD
      background:white;
=======
      background: white;
>>>>>>> origin/relaunch2018
    }
    .brand-logo {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;

      .at2x('/../img/brand-logo.png', 195px, 96px);

      width: 195px;
      height: 96px;
      margin-top: 27px;
    }
  }

}

<<<<<<< HEAD
@media screen and (min-width: @screen-md-min) {
=======
@media screen and (min-width: @screen-md-max) {
>>>>>>> origin/relaunch2018
  .dropdown-menu {
    position: absolute;
    top: 70px;
    min-width: 200px;
    display: none;
    background-color: #fff;
    list-style: none;
    padding: 0;
    z-index: 12;
    color: @text-color;

<<<<<<< HEAD
=======
    &.dropdown-menu-left {
      left: auto;
      right: 0;
    }

>>>>>>> origin/relaunch2018
    li a:before {
      content: "";
      background: transparent url("/../img/arrow-right-dark.svg") 0 2px no-repeat;
      background-size: 15px;
      width: 15px;
      height: 15px;
      display: inline-block;
      padding-bottom: 0px;
      margin-right: 10px;
<<<<<<< HEAD
=======
      position: absolute;
      top: 11px;
      left: 10px;
>>>>>>> origin/relaunch2018

    }

    li {
      margin: 0;
      // .transition(background-color .15s ease);

      a {
<<<<<<< HEAD
=======
        position: relative;
>>>>>>> origin/relaunch2018
        display: block;
        font-family: @grotesk;
        color: @text-color;
        font-size: @footer-text;
        padding: 10px 15px 7px 16px;
<<<<<<< HEAD
=======
        padding-left: 30px;
>>>>>>> origin/relaunch2018
      }

      &:hover, &.active:not(.anchor) {
        background-color: @brand-primary;
        a {
          color: @link-color-light;
        }

        a:before {
          content: "";
          background: transparent url("/../img/arrow-right.svg") 0 2px no-repeat;
          background-size: 15px;
          width: 15px;
          height: 15px;
          display: inline-block;
          padding-bottom: 0px;
          margin-right: 10px;
        }
      }
    }
  }

}

/**
 * Navigation
 */
.nav-main {
  float: right;
  z-index: 5;
  position: relative;
  .clearfix();

  .nav.navbar-nav {

    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    z-index: 10;
    position: relative;

    > li {
      float: left;
      padding: 0;
      // .transition(background-color .15s linear);

      > a {
        display: inline-block;
        font-family: @typewriter;
        font-size: @footer-text;
        color: @brand-primary;
        padding: 26px 17px 23px 16px;
        // .transition(color .3s ease);

        height: @jekits-nav-height;
        &:hover {
          color: @link-color-light;
        }
      }

      &.btn-nav {
        background-color: #f2f2f2;
        position: relative;
        display: inline-block;
        width: 70px;
        height: 70px;
        border: none;

        > a {
          width: 100%;
          text-indent: -9999px;
        }

        &:hover {
          background-color: @brand-primary;
        }
      }

      &.icon-login.btn-nav {
        background-color: #eaeaea;
        &:hover {
          background-color: @brand-primary;
        }
<<<<<<< HEAD
=======

>>>>>>> origin/relaunch2018
      }

      &.icon-home.btn-nav {
        background-color: transparent;
        &:hover {
          background-color: @brand-primary;
        }
      }

      &.active {
        background-color: #eaeaea;
      }

      &:hover {
        background-color: @brand-primary;
        > a {
          color: @link-color-light;
        }
      }

      &:hover > .dropdown-menu {
        display: block;
        background-color: @body-bg;
      }

      &.menu-das-programm:hover > .programm {
        display: block;
      }

      &.menu-das-programm {
        @programm_width: 652px;
        @ul_width: 207px;

        .dropdown-menu {
          // display: block !important; // testing
<<<<<<< HEAD
          width: 207px;
=======
          //width: 207px;
>>>>>>> origin/relaunch2018
        }

        .programm {
          position: absolute;
          top: 70px;
          width: @programm_width;
          min-height: 350px;
          background-color: #fff;
          padding: 0;
          z-index: 12;
          color: @text-color;
          .clearfix();

          display: none;

          > .collapse-menu {
            float: left;
            width: @ul_width;
            list-style: none;
            padding: 0;
            margin: 0;

            > .panel {
              .panel-heading {
                &:extend(.dropdown-menu li);

                &:hover {
                  &:extend(.dropdown-menu li:hover);
                }
              }

              &:first-child {
                border-bottom: 1px solid #fff;
              }

              .panel-heading > a {
                display: block;
                font-family: @typewriter;
                font-size: 15px;
                line-height: 15px;
                color: #fff;
                background: @brand-primary;
                font-size: @footer-text;
                padding: 13px 15px 12px 17px;
                position: relative;
                cursor: pointer;

                &:before {
                  content: "";
                  position: absolute;
                  right: 5px;
                  top: 50%;
                  margin-top: 18px / 2 * -1;
                  background: transparent url("/../img/arrow-right.svg") center center no-repeat;
                  background-size: 80%;
                  width: 24px;
                  height: 18px;
                  display: inline-block;
                  padding-bottom: 0px;
                  margin-right: 0;
                  .transition(transform 0.2s linear);
                  .rotate(-90deg);
                }

                &.collapsed {
                  &:before {
                    .rotate(90deg);
                  }
                }
              }

              .collapse-content ul {
                background: #fff;
                list-style: none;
                padding: 0;
                display: block;

                li {

                  &:first-child {
                    margin-top: 10px;
                  }

                  &:last-child {
                    margin-bottom: 10px;
                  }

                  &.active {
                    a {
                      text-decoration: underline;
                    }
                  }

                  a {
                    &:extend(.dropdown-menu li a all);
                    font-size: 15px;
                    padding-left: 37px;
                    position: relative;

                    &:before {
                      position: absolute;
                      left: 16px;
                      top: 10px;
                    }

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }

              .menu-jeki > a {
                background-color: #001a50;
              }
            }
          }

          .neighbourhood-search {
            float: right;
            background: @brand-primary url('/../img/menu_search_background.jpg') left top no-repeat;
            background-size: cover;
            width: @programm_width - @ul_width;
            height: 350px;
            padding: 87px 66px 0 57px;

            .tooltip {
              .tooltip-inner {
                background-color: #9fba01;
              }

              &.top .tooltip-arrow {
                border-top-color: #9fba01;
              }
            }

            h2 {
              font-size: 21px;
              line-height: 21px;
              color: #fff;
              margin: 0;
            }

            form {
              margin-top: 25px;

              .radio-tab {
                &:extend(.neighbourhood form .radio-tab all);

                .radio-wrapper label {
                  border-bottom: 0 !important;
                }
              }

              input[type="text"] {
                margin: 0;
                padding: 12px 10px 7px 10px;
                font-size: 17px;
                line-height: 17px;
                color: fade(@brand-primary, 40);

                border: 0;
                position: relative;
                z-index: 3;
                width: 100%;
                margin-bottom: 5px;
                .border-radius(0);
                .box-shadow(none);

                &:focus {
                  .box-shadow(none);
                }
              }

              input[type="submit"] {
                padding: 10px 13px;
                width: auto;
                margin-right: 11px;
                position: relative;
                top: 6px;
              }
            }

            .btn {
              font-size: 14px;
              margin-top: 15px;

              &:before {
                background-image: url('/../img/arrow-right-dark.svg');
              }
            }
          }
        }
      }
    }
  }
}

/** Set new breakpoint for menus **/

@media (max-width: @screen-md-max) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }
}

/** XS settings for nav **/

@media screen and (max-width: @screen-md-max) {

<<<<<<< HEAD

=======
>>>>>>> origin/relaunch2018
  .banner {
    .navbar-brand {

      //position:relative;
<<<<<<< HEAD
      height:auto;
      width:auto;
      padding:0;
      padding-left:@grid-gutter-width/2;
=======
      height: auto;
      width: auto;
      padding: 0;
      padding-left: @grid-gutter-width/2;
>>>>>>> origin/relaunch2018

      .brand-logo {
        background-image: url('/../img/brand-logo-responsive.png');

        height: 41px;
        width: 125px;
        background-size: contain;
        margin: 0;
<<<<<<< HEAD
        margin-top:@grid-gutter-width/3;
=======
        margin-top: @grid-gutter-width/3;
>>>>>>> origin/relaunch2018
        padding: 0;
      }
    }
  }

  .nav-main {

<<<<<<< HEAD
    .nav.navbar-nav > li {
      width: 100%;

      border-bottom:1px solid #ededed;

      &:last-child {
        border:none;
      }

      & > a {
        padding:@grid-gutter-width/3;
        height:auto;
=======
    .nav.navbar-nav {
      margin-top:@grid-gutter-width/2;
    }

    .nav.navbar-nav > li {
      width: 100%;
      //max-height:@grid-gutter-width*1.5;

      border-bottom: 1px solid #ededed;

      &:last-child(-2) {
        border: none;
      }

      & > a {
        padding: @grid-gutter-width/3;
        height: auto;
>>>>>>> origin/relaunch2018
      }

      &.btn-nav {
        display: block;
<<<<<<< HEAD
        width:100%;
        height:auto;
        border:none;

        &.icon-home {
          display:none;
        }
        &.icon-search,
        &.icon-login {
          width:50%;
          margin-bottom: @grid-gutter-width/2;
        }

=======
        width: 100%;
        height: auto;
        border: none;

        &.icon-home {
          display: none;
        }
        &.icon-search,
        &.icon-login {
          width: 50%;
          margin-bottom: @grid-gutter-width/2;
        }

        &.icon-login {
          &:hover {
            & > a {
              color:@brand-primary;
            }
            //background-image:inherit;
            background-image: url('img/lock.svg');
            background-color:#fff;
          }
        }

>>>>>>> origin/relaunch2018
      }

    }

<<<<<<< HEAD


    .searchbox {
      max-height:0;
      transition:max-height ease-in-out 250ms;
    }

    .searchbox.searchbox-open {
      max-height:150px;
      width:100%;
      height:auto;
      right:initial;
      top:initial;
    }


  }
  .nav-main .nav.navbar-nav > li.menu-das-programm:hover > .programm {
    max-height:1000px;
  }



  .dropdown ul {

    overflow:hidden;
    display: block;
    //display: none;
    max-height:0;
    transition:max-height ease-in-out 250ms;

    list-style:none;
    padding:0;
    padding-left:@grid-gutter-width/3;
    padding-bottom:@grid-gutter-width/3;
    li {
      padding:0;
      margin:0;
      padding-top:@grid-gutter-width/4;
      padding-bottom:@grid-gutter-width/4;
    }
  }

  .nav-main .nav.navbar-nav > li:hover > .dropdown-menu {
    max-height:500px;
  }


  .nav-main .nav.navbar-nav > li.menu-das-programm .programm {


    ul {
      max-height:initial;
    }

    display: block;
    overflow:hidden;
    transition: max-height ease-in-out 1s;
    max-height:0;
=======
    .searchbox {
      max-height: 0;
      transition: max-height ease-in-out 250ms;
    }

    .searchbox.searchbox-open {
      max-height: 150px;
      width: 100%;
      height: auto;
      right: initial;
      top: initial;
    }

  }

  .nav-main .nav.navbar-nav > li.menu-das-programm:hover > .programm {
    max-height: 1000px;
  }

  .dropdown ul {

    overflow: hidden;
    display: block;
    //display: none;
    max-height: 0;
    transition: max-height ease-in-out 250ms;

    list-style: none;
    padding: 0;
    padding-left: @grid-gutter-width/3;
    li {
      padding: 0;
      margin: 0;
      padding-top: @grid-gutter-width/4;
      padding-bottom: @grid-gutter-width/4;
      &:last-child {
        margin-bottom: @grid-gutter-width/3;
      }
    }
  }

  .icon-login {
    margin-top:@grid-gutter-width/2;
    background-position-y: @grid-gutter-width/2;
    ul {
      list-style: none;
      text-align: center;
      &, li {
        margin: 0;
        padding: 0;
      }

      margin-top: @grid-gutter-width/2;

    }
  }

  .nav-main .nav.navbar-nav > li:hover > .dropdown-menu {
    max-height: 500px;
  }

  .nav-main .nav.navbar-nav > li.menu-das-programm .programm {

    ul {
      max-height: initial;
    }

    display: block;
    overflow: hidden;
    transition: max-height ease-in-out 1s;
    max-height: 0;
>>>>>>> origin/relaunch2018
    position: relative;

    top: initial;
    width: 100%;
    min-height: initial;

    .panel-heading {
<<<<<<< HEAD
      display:none;
=======
      display: none;
>>>>>>> origin/relaunch2018
    }

    .neighbourhood-search,
    & > .collapse-menu {
<<<<<<< HEAD
      width:100%;
      height:auto;
    }

    .neighbourhood-search {
      padding:@grid-gutter-width;
=======
      width: 100%;
      height: auto;
    }

    .neighbourhood-search {
      padding: @grid-gutter-width;
>>>>>>> origin/relaunch2018

      form input[type="submit"] {
        width: 100%;
        margin-right: 0;
        position: relative;
        display: block !important;
      }
    }

    & > .collapse-menu {
      & > .panel .collapse-content ul li a {

<<<<<<< HEAD
        padding-left:@grid-gutter-width/3;
=======
        padding-left: @grid-gutter-width/3;
>>>>>>> origin/relaunch2018

      }
    }

  }

<<<<<<< HEAD

=======
>>>>>>> origin/relaunch2018
}
