
.neighbourhood {
<<<<<<< HEAD
  background: #98b200 url('/../img/search_background.jpg') center center no-repeat;
  background-size: cover;
  @media screen and (min-width: @screen-sm-min) {
    height: 546px;
  }

  h2 {
    text-align: center;
=======
	padding: 33px 0 0;
  background-color: #03256a;
  @media screen and (min-width: @screen-sm-min) {
    height: 100%;
  }

  h2 {
    color: #fff;
>>>>>>> origin/relaunch2018
  }

  p {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
  }

  .btn {
    margin-top: 28px;
  }

  .description {
    margin-bottom: 20px;
  }

<<<<<<< HEAD
  form {
    width: 100%;
    text-align: center;

    margin: @grid-gutter-width/2 auto 0 auto;

    @media screen and (min-width: @screen-sm-min) {
      margin: 52px auto 0 auto;
=======
  .agree_terms {
    //text-align:center;
    margin-bottom:@grid-gutter-width;
    label {
      color:white;
      font-style:normal;
      font-weight:bold;
      padding-left:30px;

    }

    &.has-error {
      label {
        color:@brand-red;
      }
    }


    input[type="checkbox"] {
      visibility:visible;
      //margin-left:-30px;
    }

  }

  form {
    width: auto;
    text-align: center;

    //margin: @grid-gutter-width/2 auto 0 auto;

    @media screen and (min-width: @screen-sm-min) {
      margin: 0 auto 0 auto;
>>>>>>> origin/relaunch2018
    }

    .clearfix();

    .radio-tab {
      text-align: left;
      line-height: 0;

      .radio-wrapper {
        position: relative;
        display: inline-block;
        z-index: 2;

        &:last-child {
          margin-left: -4px;
          z-index: 1;
        }

        input {
          position: absolute;
          left: 0;
          top: 0;
<<<<<<< HEAD
          height: 34px;
=======
          height: 30px;
>>>>>>> origin/relaunch2018
          width: 100%;
          margin: 0;
          opacity: 0;
          cursor: pointer;
        }

        label {
          overflow: hidden;
          padding: 0 22px;
<<<<<<< HEAD
          height: 34px;
=======
          height: 30px;
>>>>>>> origin/relaunch2018
          display: inline-block;
          text-align: center;
          color: @green;
          padding-top: 9px;
          line-height: 17px;
          font-size: 17px;
          font-family: @typewriter;
          background: fade(#fff, 70%);
          margin: 0 1px 0 0;
          border-bottom: 1px solid #9fba01;
          cursor: pointer;
        }

        &.jekits label {
          color: #3e5687;
        }

        input:checked + label {
          background: #fff;
          .box-shadow(6px 5px 2px 0px rgba(0, 0, 0, 0.15));
        }
      }
    }

    input[type="text"] {
<<<<<<< HEAD
      margin: 0;
      .border-radius(0);
      border: 0;
      padding: 19px 18px 15px 19px;
      font-size: 30px;
=======
      //margin: 0;
      width:100%;
      .border-radius(0);
      border: 0;
      //padding: 19px 18px 15px 19px;
      font-size: @font-size-large;
>>>>>>> origin/relaunch2018
      line-height: 30px;
      position: relative;
      z-index: 3;

      &:focus {
        .box-shadow(~"0 0 7px rgba(152,178,0,.75)");
      }
    }

    input[type="text"].zip {
<<<<<<< HEAD
      width: 240px;
      margin-right: 5px;
    }

    input[type="text"].name_place {
      width: 551px;
    }

    input[type="submit"] {
      margin: 0 20px 0 0;

=======
      //width: 160px;
      //margin-right: 5px;
    }

    input[type="text"].name_place {
      //width: 310px;
    }

    input[type="submit"] {
      margin: 0;
      margin-left:5px;
      //transform: translateY(-6px);
      padding: 19px 21px;
      margin-top:6px;
      //width: 150px;
      width:100%;
>>>>>>> origin/relaunch2018
      &.hide {
        // visibility: hidden;
        // width: 0px;
        // overflow: hidden;
        // padding: 0;
        // margin: 0;
      }
<<<<<<< HEAD
=======
        background:@brand-light;
      &:hover {
        background: darken(@brand-light, 10%);

      }
>>>>>>> origin/relaunch2018
    }

    @media screen and (max-width: @screen-md-max) {
      input[type="text"] {

        font-size: @font-size-base;
        padding: @grid-gutter-width/4;
        margin-bottom: @grid-gutter-width/2;
      }

      input[type="text"].name_place,
      input[type="text"].zip {
        width: 100%;
      }

      input[type="submit"] {
        margin: 0 20px 0 0;

        &.hide {
          // visibility: hidden;
          // width: 0px;
          // overflow: hidden;
          // padding: 0;
          // margin: 0;
          display:block !important;
          width:100%;
        }
      }
    }
  }
<<<<<<< HEAD
=======
	.map {
    width: 100%;
    height: 650px;
		padding-top: 28px;

    #map {
      width: 100%;
      height: 100%;
    }
  }
>>>>>>> origin/relaunch2018
}

.label {
  display: inline-block;
  padding: 5px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;

  &-instrumente {
    background-color: @brand-red;
  }

  &-tanzen {
    background-color: @brand-light;
  }

  &-singen {
    background-color: @brand-green;
  }

  &-koop {
    background-color: @brand-primary;
  }
}

.result-filter {
  padding: 10px 0 30px 15px;
  background: #eee;
  margin-bottom: 15px;
  margin-right: 15px;

  .label {
    opacity: 0.5;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }
}
