<<<<<<< HEAD


.content-accordion {
	margin-top: 45px;
=======


.content-accordion {
	margin-top: 45px;
}

body.page-template-template-fortbildung {

	.content-header.materialpool {

		p, .description, a {
			font-size:@font-size-base
		}

	}

>>>>>>> origin/relaunch2018
}