/* Import the Google Font 'Lato' */

.zahlen {
  li {
    text-align: center;
  }
}

/* Container styles */
.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
  //padding: 50px 25px;
  //width: 100px;
  //height: 50px;
  //border: 20px solid #f0f0f0;
  //border-radius: 100px;
  //line-height: 50px;
}

.chart figcaption {
  font-family: 'Typewriter', helvetica, sans-serif;
  color: #03256a;
  font-size: 30px;
  text-align: center;
  //border: solid 1px #03256a;
  //border-radius: 100%;
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-top: calc(100% - 80%);
  span {
    display: block;
    font-size: 20px;
  }
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: white;
}

/* END Container styles */

/* Colors for the circles and positions for the graphics */
.chart svg .outer {
  stroke: @brand-primary;
}

.chart figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 60px 20px;
  display: flex;
  flex-flow:column;
  justify-content:center;
}

.chart svg .outer {
  fill: transparent;
  stroke: transparent;
  stroke-width: 20px;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;

  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px) translateY(5px);
}

//
//.chart:hover .outer {
//  stroke-dashoffset: 534 !important;
//  -webkit-animation-play-state: paused;
//}
/* END Circle colors and graphic positions */

/* Set the initial values for the animation */
//.chart[data-percent='100'] .outer {
.chart.shown {

  .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
    stroke: @brand-primary;

  }
}

//.chart[data-percent='75'] .outer {
//  stroke-dashoffset: 133;
//  -webkit-animation: show75 2s;
//  animation: show75 2s;
//}
//
//.chart[data-percent='50'] .outer {
//  stroke-dashoffset: 267;
//  -webkit-animation: show50 2s;
//  animation: show50 2s;
//}
//
//.chart[data-percent='25'] .outer {
//  stroke-dashoffset: 401;
//  -webkit-animation: show25 2s;
//  animation: show25 2s;
//}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

/* END Keyframes for the initial animation */