.btn {
	background-color: transparent;
	font-size: @main-link-size;
	display: inline-block;
	padding: 0;
	line-height: 19px;
	text-decoration: none;
	border: 0;
	border-radius: 0;
<<<<<<< HEAD
	border-bottom: 1px solid @brand-green;
=======
	border-bottom: 1px solid @brand-primary;
>>>>>>> origin/relaunch2018
	position: relative;
	margin: 0 0 0 36px;
	top: 7px;
	.transition(color .09s linear);

	&:before {
		content:'';
<<<<<<< HEAD
		color: @link-color-light;
		background-image: url('/../img/arrow-right.svg');
		background-position: 70% center;
		background-repeat: no-repeat;
		background-color: @brand-light;
=======
		color: @brand-primary;
		background-image: url('/../img/arrow-right.svg');
		background-position: 70% center;
		background-repeat: no-repeat;
		background-color: @brand-primary;
>>>>>>> origin/relaunch2018
		background-size: 21px 21px;

		width: 25px;
		height: 25px;
		display: inline-block;
		padding-bottom: 0px;
		border-radius: 25px;

		position: absolute;
		left: -36px;
		top: -2px;

		.transition(background .09s linear);
	}

	&.icon-green:before {
		background-color: @brand-green;
	}

	&.btn-light {
		color: @link-color-light;
		border-color: @link-color-light;

		&:before {
			background-image: url('/../img/arrow-right-grey.svg');
			background-color: @body-bg;
		}

		&:hover {
			color: darken(@link-color-light, 10%);
			border-color: darken(@link-color-light, 10%);

			&:before {
				background-color: darken(@body-bg, 10%);
			}
		}
	}

	&.btn-dark {
		color: @link-color;

		&:hover {
			color: @link-hover-color;

			&:before {
				background-color: @link-hover-color;
			}
		}
	}
}

.content-wrap .btn.btn-dark {
	border-bottom-color: @link-color;
}

/**
 * Image Gallery Nav Icons
 */

.slick-prev,
.slick-next {
	background-color: transparent;
	position: absolute;
	display: block;
	padding:0;
	line-height: 0;
	font-size: 0;
	height: 57px;
	width: 57px;
	cursor: pointer;
	border: none;
	top: 50%;
	margin-top: 57px / 2 * -1;
	outline: none;
	.transition(color .09s linear);

	&:before {
		content:'';
		color: @link-color-light;
		background-image: url(/../img/arrow-left.svg);
		background-position: 36% center;
		background-repeat: no-repeat;
		background-color: rgba(255,255,255, 0.8);
		background-size: 37px 40px;
		width: 57px;
		height: 57px;
		display: block;
		border-radius: 57px;
		position: absolute;
		top: 0;
		// .transition(background .09s linear);
	}

	&:hover {
		&:before {
			background-color: rgba(255,255,255, 1);;
		}
	}

	&:focus {
		outline: none;
	}
}

.slick-prev {
	left: 15px;
}

.slick-next {
	right: 15px;
	&:before {
		transform: rotate(180deg);
	}
}

/**
 * Navigation Icons
 */
.icon-search,
.icon-login,
.icon-home {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	position: relative;
	width: 70px;
	height: 70px;
}

.icon-search {
	background-image: url(/../img/search.svg);
	background-color: @gray-lighter;
	&:hover {
		background-image: url(/../img/search-light.svg);
	}
}

.icon-login {
	background-image: url(/../img/lock.svg);
	background-color: @gray;
	&:hover {
		background-image: url(/../img/lock-light.svg);
	}
}

.icon-home {
	background-image: url(/../img/house.svg);
	background-color: @body-bg;
	&:hover {
		background-image: url(/../img/house-light.svg);
	}
}