.info-callout {
  background-color: @body-bg-darker;
  //height: 250px;

<<<<<<< HEAD
  padding: @grid-gutter-width 0;

  @media screen and (min-width: @screen-sm-min) {
    padding: 81px 0 98px 0;
=======

  @media screen and (min-width: @screen-sm-min) {
    padding: 81px 15px 15px 15px;

    &.newsletter {
      padding-bottom:81px;
    }

>>>>>>> origin/relaunch2018
  }

  &.btn-thin .btn {
    margin-top: 14px;
  }

  &.thin {
    position: relative;
    padding: 31px 0 55px 0;

    p {
      font-size: @footer-text;
    }

    .btn {
      margin-top: 14px;
    }
    @media screen and (max-width:@screen-sm-max) {
      .brand-image {
        width:100%;
        background-size:contain;
      }
    }
  }

  .brand-image {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    .at2x('/../img/footer-callout.png', 322px, 131px);

    width: 100%;
    height: auto;
    min-height:150px;

    @media screen and (min-width: @screen-sm-min) {
      width: 322px;
      height: 131px;
<<<<<<< HEAD
      margin: 13px 0 0 111px;
=======
      margin: 13px 0 0 0;
			float: right;
>>>>>>> origin/relaunch2018
    }
  }

  .brand-info {
    //width: 481px;
    //height: 234px;
    //margin: 31px 0 0 32px;

    img {
      .transition(all .2s linear);
    }

    img:hover {
      .scale(1.1);
    }

    text-align: center;

    a {

      .icon-img {
        margin-right: @grid-gutter-width/2;
      }
      &:last-child {
        .icon-img {
          margin-right: 0;
        }
      }
      
      @media screen and (max-width:@screen-sm-max) {
        display: block;
        margin:@grid-gutter-width/2 auto;
      }
    }
  }

  h2 {
    color: @brand-primary;
  }

  .btn {
<<<<<<< HEAD
    margin-top: 35px;
=======
    //margin-top: 35px;
>>>>>>> origin/relaunch2018
  }

  &.light {
    color: #fff;

    h2, p {
      color: #fff;
    }
  }
}

.callout {
  background-color: @brand-green;
  padding: 35px 0;
  text-align: center;
}

.callout-button {
  color: #fff;
  font-size: 24px;
  text-align: center;
  background-color: @green-light;
  border: solid 2px @green-lighter;
  .border-radius(2px);
  padding: 13px 60px;
  position: relative;
  display: inline-block;

  span.cursiv {
    font-style: italic;
    font-weight: 100;
  }

  span.heading {
    font-style: normal;
    font-weight: normal;
  }

  &:hover {
    background-color: darken(@green-light, 5%);

    .transition(all .50s linear);
  }

  &:after {
    content: "";
    background: transparent url("/../img/arrow-right.svg") 0 2px no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    padding-bottom: 0px;
  }
}

.white {
  background-color: @body-bg;
}