<<<<<<< HEAD
.carousel {
  opacity:1;
  .carousel-control {
    transition:opacity 250ms ease-in-out;
  }

  .carousel-indicators {
    opacity:.3;
    transition:opacity 250ms ease-in-out;
    &:hover {
      opacity:1;
    }
    li {
      margin-left:5px;
      margin-right:5px;
    }
  }
=======
.carousel {
  opacity:1;
  .carousel-control {
    transition:opacity 250ms ease-in-out;
  }

  .carousel-indicators {
    opacity:.3;
    transition:opacity 250ms ease-in-out;
    &:hover {
      opacity:1;
    }
    li {
      margin-left:5px;
      margin-right:5px;
    }
  }

  @media screen and (max-width:@screen-md-max) {
  
      .carousel-indicators {
        display: none;
      }
		
  
  }
  
}
@media screen and (max-width:@screen-xs-max) {
	.img-responsive, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
			max-width: 175%;
		}
>>>>>>> origin/relaunch2018
}