
<<<<<<< HEAD


.teaser-row {

	.clearfix();

	.flex-row {
		margin:0;
	}

	.item {
		//height: 236px;
		//width: 100% / 3;
		//float: left;
		background: @brand-light center center no-repeat;

		.transition(flex 0.3s ease-out);
		.display(flex);
		// .align-items(center);

		.text {
			margin: 33px auto;
			width: 100%;
			padding-left: 75px;
			background: transparent url('/../img/large_arrow.png') left 17px no-repeat;
			display: block;

			@media screen and (max-width:@screen-sm-max) {
				background-size:@grid-gutter-width;
				margin:@grid-gutter-width/2 auto;
				padding-left:@grid-gutter-width*1.5;
				margin-bottom:@grid-gutter-width;
			}


			h2 {
				color: #fff;
				font-size: 24px;
				line-height: 24px;
				margin: 0 0 10px 0;
			}

			&:before {
				content: "";
				height: 2px;
				width: 163px;
				display: inline-block;
				background: fade(#fff, 50%);
				margin-bottom: 2px;
				.transition(width 0.25s ease-out);
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}

			p {
				font-size: 17px;
				line-height: 22px;
				color: #fff;
			}
		}
	}

	.first {
		background-color: @brand-green;
	}

	.last {
		background-color: @brand-red
	}
=======
section.teaser-row {

  .flex-row {
    margin: 0;
  }

  .item {
    //height: 236px;
    //width: 100% / 3;
    //float: left;
    border-right: solid 2px #fff;
    background: @brand-primary center center no-repeat;

    &:last-child {
      border-right: none;
    }

    .transition(flex 0.3s ease-out);
    .display(flex);
    // .align-items(center);

    .text {
      margin: 33px auto;
      width: 100%;
      padding-left: 45px;
      background: transparent url('/../img/large_arrow.png') left 17px no-repeat;
      background-size: 34px;
      display: block;

      @media screen and (max-width: @screen-sm-max) {
        background-size: @grid-gutter-width;
        margin: @grid-gutter-width/2 auto;
        padding-left: @grid-gutter-width*1.5;
      }

      h2 {
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 10px 0;
      }

      &:before {
        content: "";
        height: 2px;
        width: 163px;
        display: inline-block;
        background: fade(#fff, 50%);
        margin-bottom: 2px;
        .transition(width 0.25s ease-out);
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }

      p {
        font-size: 17px;
        line-height: 22px;
        color: #fff;
      }
    }
  }

  .first {
    background-color: @brand-green;
  }

  .last {
    background-color: @brand-red
  }

  @media screen and (max-width: @screen-sm-max) {

    .item {
      border:none;
      &:first-child {
        .text {
        margin-top:@grid-gutter-width;
        }
      }
      &:last-child {
        .text {
        margin-bottom:@grid-gutter-width;
        }
      }
    }
  }

}

.focus-row {
  padding: 55px 0;
  background-color: @body-bg-darker;
  margin-bottom: @grid-gutter-width/3*2;

  .flex-row {
    margin: 0;
  }

  h2 {
    a {
      color: white;
    }
  }
  .item {
    //height: 236px;
    //width: 100% / 3;
    //float: left;

    .transition(flex 0.3s ease-out);
    .display(flex);
    // .align-items(center);
    @media screen and (max-width: @screen-sm-max) {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      margin-bottom: @grid-gutter-width;
    }

    .text {
      width: 100%;
      padding-left: 55px;

      display: block;

      @media screen and (max-width: @screen-sm-max) {
        background-size: @grid-gutter-width;
        margin: @grid-gutter-width/2 auto;
        padding-left: 0;
        margin-bottom: @grid-gutter-width;
      }

      h2 {
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        padding: 2px 5px;
        margin: 0 0 10px 0;
        display: inline-block;
      }

      p {
        font-size: 17px;
        line-height: 22px;
      }
    }
    img {
      width: 100%;
      max-width: 166px;
      height: auto;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-transition: all .2s linear;
      transition: all .2s linear;

      @media screen and (max-width: @screen-sm-max) {
        transform: scale(1);
      }
    }
    &:hover img {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

  .first, .col-instrumente {
    h2 {
      background-color: @brand-instrumente;
    }
    .btn {
      color: @brand-instrumente;
      border-bottom: 1px solid @brand-instrumente;
      &:before {
        color: @brand-instrumente;
        background-color: @brand-instrumente;
      }
    }

  }
  .second, .col-tanzen {
    h2 {
      background-color: @brand-tanzen;
    }
    .btn {
      color: @brand-tanzen;
      border-bottom: 1px solid @brand-tanzen;
      &:before {
        color: @brand-tanzen;
        background-color: @brand-tanzen;
      }
    }

  }

  .last, .col-singen {
    h2 {
      background-color: @brand-singen;
    }
    .btn {
      color: @brand-singen;
      border-bottom: 1px solid @brand-singen;
      &:before {
        color: @brand-singen;
        background-color: @brand-singen;
      }
    }
  }

}

section.text-link-list {

  padding: 50px 15px 66px;
  background-image: none;
  font-size: @font-size-large;
  &.bg-gray {
    background-color: @gray-lighter;
  }

  .row {
    display: flex;
  }

  .quick-links {
    list-style: none;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-content: left;
    justify-content: center;
    height: 100%;

    padding: 0;
    padding-left: @grid-gutter-width*2;

    li {
      margin: @grid-gutter-width/2 0;
    }
  }

  @media screen and (max-width: @screen-md-min) {

    .row {
      flex-flow: column;
    }

    .quick-links {
      padding-left: 0;
      li {
        margin: @grid-gutter-width/3 0;
      }
    }
  }

>>>>>>> origin/relaunch2018
}