
.flex-content-box {
<<<<<<< HEAD
	color: #fff;
	padding: 50px 0;

	h3 {
		font-family: @grotesk;
=======
	//color: #fff;
	//padding: 50px 0;
//margin-bottom:15px;


	&.main-content .content-wrap {
		padding-bottom:0;
		padding-top:0;
		.content-box {
			//padding-top:@grid-gutter-width*2;
			padding-bottom:10px;
		}
	}

	&.darkblue {
		padding-top:@grid-gutter-width*2;
		padding-bottom:@grid-gutter-width*2;
		background:@brand-primary;
		* {
			color:white !important;
		}
	}

	h3 {
		//font-family: @grotesk;
>>>>>>> origin/relaunch2018
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 34px;
		text-rendering: optimizeLegibility;
		-moz-font-feature-settings: "liga=1, smcp=1";
		-ms-font-feature-settings: "liga" 1, "smcp" 1;
	}

	p {
<<<<<<< HEAD
		color: #fff;
	}

	.btn {
		color: #fff;
		margin-top: 40px;

		&:before {
			background-color: @brand-green;
		}

		&:hover {
			color: @brand-green;

			&:before {
				background-color: @brand-green;
=======
		//color: #fff;
	}

	.btn {
		//color: #fff;
		margin-top: 40px;

		&:before {
			background-color: @brand-primary;
		}

		&:hover {
			color: @brand-primary;

			&:before {
				background-color: @brand-primary;
>>>>>>> origin/relaunch2018
			}
		}
	}

<<<<<<< HEAD
=======
	.col {
		& > img {
			max-width:100%;
		}
	}

>>>>>>> origin/relaunch2018
}