<<<<<<< HEAD
.lang {
    width: 48px;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 9999;

    img {
        padding: 12px;
        background-color: @brand-primary;
        .transition(background-color .2s linear);

        &:hover {
            background-color: @brand-light;
        }
    }
}


:lang(ru) {
    font-family: Arial;
}
=======
.lang {
    width: 48px;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 999;

    img {
        padding: 12px;
        background-color: @brand-primary;
        .transition(background-color .2s linear);

        &:hover {
            background-color: @brand-light;
        }
    }
}


:lang(ru) {
    font-family: Arial;
}
>>>>>>> origin/relaunch2018
