// Captions
.wp-caption {
  &:extend(.thumbnail all);

  &.alignnone {
  	width: 100% !important;
		display: inline-block;
		margin: 41px 0;

  	> a, > img {
  		float: right;
  		padding-left: 24px;
			background: #fff;
  	}

		.wp-caption-text {
  		border-top: 2px solid #ccc;
  		padding-top: 10px;
  		margin-top: 10px;
  		font-size: 15px;
  		line-height: 22px;
  		color: #686868;
  		text-align: right;
		}
  }
}

.wp-caption-text {
    &:extend(.thumbnail .caption);
}

// Gallery shortcode
.gallery-row {
  padding: (@line-height-computed / 2) 0;
}
