<<<<<<< HEAD
.newsletter {
  #gradient.horizontal(@gray; #fff; 0%; 100%);

  .newsletter-form {
    margin-top: 70px;
    .clearfix();

    h4 {
      color: @brand-light;
    }

    p {
      color: @gray-dark;
      font-style: italic;
    }

    p.cb {
      color: @gray-blue;
    }

    form {
      width: 220px;
      float: left;

      @media screen and (max-width: @screen-md-max) {
        &, & input {
          width: 100%;
        }
      }
    }
  }
  .side-text {
    float: right;
    width: 303px;

    @media screen and (max-width: @screen-md-max) {
      width: 100%;
    }

    p, h4 {
      font-family: @grotesk;
      font-weight: 100;
    }

    p {
      font-size: 14px;
      line-height: 19px;
    }

    h4 {
      font-weight: normal;
    }
  }
=======
.newsletter {
	#gradient.horizontal(@gray; #fff; 0%; 100%);

	text-align:center;
	.newsletter-form {
		display: inline-block;
		margin:0 auto;
		//margin-top: 70px;
		.clearfix();

		h4 {
			color: @brand-primary;
		}

		p {
			color: @gray-dark;
			font-style: italic;
		}

		p.cb {
			color: @gray-blue;
		}

		form {
			width: 220px;
			float: left;
		}
	}
	.side-text {
		float: right;
		width: 303px;

		p, h4 {
			font-family: @grotesk;
			font-weight: 100;
		}

		p {
			font-size: 14px;
			line-height: 19px;
		}

		h4 {
			font-weight: normal;
		}
	}
>>>>>>> origin/relaunch2018
}