/**
 * Notification
 */
.notification {
<<<<<<< HEAD
	width: 266px;
	// height: 242px;
	background: #e52e0d;

	padding: 30px 24px 0 24px;

	top: 150px;
=======
	width: 500px;
	// height: 242px;
	.notification-inner {
		//background: rgba(0,166,235,.7);
		background: rgba(3,37,106,.7);



		padding: 30px 24px;
		&.brand {
			background: rgba(3,37,106,.7);
		}
		&.instrumente {
			background: rgba(223,53,5,.7);
		}
		&.tanzen {
			background: rgba(0,166,235,.7);
		}
		&.singen {
			background: rgba(177,202,0,.7);
		}
	}

	top: 200px;
>>>>>>> origin/relaunch2018
	position: absolute;
	z-index: 1;

	.transition(transform 0.35s 0.35s ease);
<<<<<<< HEAD
	.translate(0, -186px);

	&.show {
		.translate(0, -5px);
=======
	.translateY(-200%);

	&.show {
		.translateY(0);
>>>>>>> origin/relaunch2018
	}

	h3 {
		color: #fff;
		margin: 0;
<<<<<<< HEAD
		font-size: 16px;
		line-height: 22px;
=======
		font-size: 36px;
		line-height: 36px;
		margin-bottom:@grid-gutter-width/2;
>>>>>>> origin/relaunch2018
	}

	p {
		color: #fff;
		margin: 0 0 20px 0;
<<<<<<< HEAD
		font-size: 14px;
		line-height: 22px;
	}

	.btn-wrapper {
		padding: 13px 26px 27px 26px;
		margin-left: -24px;
		margin-right: -24px;
		background: #ca2102;
	}

=======
		font-size: 22px;
		line-height: 26px;
	}

	.btn-wrapper {
		//padding: 13px 26px 27px 26px;
		//margin-left: -24px;
		//margin-right: -24px;
		padding-bottom:@grid-gutter-width/2;
	}

	a {
		color:white;
	}
>>>>>>> origin/relaunch2018
	.btn {
		font-size: 17px;
		line-height: 17px;

		&:before {
<<<<<<< HEAD
			background-image: url('/../img/arrow-right-red.svg');
=======
			background-image: url('/../img/arrow-right-grey.svg');
>>>>>>> origin/relaunch2018
		}

		&:hover {
			color: fade(#fff, 70%);
			border-color: fade(#fff, 70%);

			&:before {
				background-color: fade(#fff, 70%);
			}
		}
	}

}

header .notification {
	@media screen and (max-width:@screen-md-max) {
<<<<<<< HEAD
		display: none !important;
=======
		//display: none !important;
		position:relative;
		top:initial;
		width:100%;
		
		.notification-inner {
			background:@brand-primary;
			margin-top:65px;
			margin-left:-15px;
			margin-right:-15px;
			//margin-bottom:-5px;
			h3 {
				font-size: 26px;
			}
		}
>>>>>>> origin/relaunch2018
	}
}
