/**
 * VIDEO RELATED STUFF
 */

// for embedded videos

@media screen and (max-width: @screen-md-max) {
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

// video header image

.content-master.video {
  height: 600px;
  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translateX(-50%) translateY(-50%);

    a {
      background: rgba(255, 255, 255, .5);
      border-radius: 1000px;
      display: block;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: rgba(255, 255, 255, .6);
      }

      img {
        width: 100%;
        max-width: 100%;
        //width:75px;
        //height:auto;
        padding: 75px;
        transform: translateX(5%);

      }
    }
  }
}

.modal.video-modal {
  .modal-dialog {
    max-width: 670px;
    width: 100%;
  }

  iframe {
    max-width: 100%;
  }

  button.close {
    margin-bottom: @grid-gutter-width/2;
  }

}

@media screen and (max-width: @screen-sm-max) {
  .modal.video-modal {
    .modal-dialog {
      max-width: 100%;
      width: auto;
    }
  }
}